<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('bannerslider/owl_carousel/css/owl.carousel.css');?>" media="all" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('bannerslider/owl_carousel/css/owl.theme.css');?>" media="all" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('bannerslider/owl_carousel/css/owl.transitions.css');?>" media="all" />
<script type="text/javascript" src="<?php echo $this->getSkinUrl('bannerslider/owl_carousel/js/owl.carousel.min.js') ?>"></script>	
<script>
jQuery(document).ready(function() {
	jQuery(".box_owl_carousel").owlCarousel({
		singleItem: true,
		transitionStyle : "fade"
	});
});
</script>