
	<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('bannerslider/skitter_slideshow/css/skitter.styles.css');?>" media="all" />
	<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('bannerslider/skitter_slideshow/css/highlight.black.css');?>" media="all" />
	<script type="text/javascript" src="<?php echo $this->getSkinUrl('bannerslider/skitter_slideshow/js/jquery.easing.js') ?>"></script>
	<script type="text/javascript" src="<?php echo $this->getSkinUrl('bannerslider/skitter_slideshow/js/jquery.animate-colors-min.js') ?>"></script>
	<script type="text/javascript" src="<?php echo $this->getSkinUrl('bannerslider/skitter_slideshow/js/jquery.skitter.min.js') ?>"></script>
	<script type="text/javascript" src="<?php echo $this->getSkinUrl('bannerslider/skitter_slideshow/js/highlight.js') ?>"></script>	
	<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('bannerslider/skitter_slideshow/css/skitter.styles.responsive.css');?>" media="all" />
	<script>
		jQuery(document).ready(function() {
			jQuery('.box_skitter_slider').skitter(				
				{numbers_align: 'right',animation:'fade',interval: 1000,dots: true, navigation: false}				
			);
		});
	</script>
