<?php $collection = $this->getAttributeCollection();?>
<?php if ($collection->getSize() > 0) : ?>
    <div id="orderattributes-checkoutmultishipping-attributes-container-billing-address">
        <ul class="form-list box-content" >
            <?php foreach($collection as $attribute):?>
                <?php
                $html = $attribute->unpackData()->getTypeModel()->getFrontendFormRenderer()
                    ->setValue($this->getValueByAttributeId($attribute->getId()))
                    ->getHtml(true);
                ?>
                <?php if(strlen(trim($html)) > 0) :?>
                    <li class="fields form-alt">
                        <div class=""><?php echo $html;?></div>
                    </li>
                <?php endif;?>
            <?php endforeach;?>
        </ul>
    </div>
<?php endif;?>