<?php $_show_simpleproduct_form = Mage::getStoreConfig('quickview/quickview/qty_form') ;  ?>
<div id="quickview-dialog" title="<?php echo $this->__("Loading Product Information..."); ?>">
    <div class="quickview-message">
    </div>
    <div class="quickview-summary">
    </div>
    <div class="quickview-loader"></div>
    <?php if($_show_simpleproduct_form): ?>
    <div class="product-name">
        <h1></h1>
    </div>
        
    <div class="quickview-qty-form product-options">
        <form action="" method="post" id="simpleproduct_quickview_form">
            <div class="add-to-cart">
                <label for="qty"><?php echo $this->__('Qty:') ?></label>
                <input type="text" name="qty" id="qty" maxlength="12" value="1" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
            </div>
        </form>
    </div>
    <?php endif; ?>
</div>
<script type="text/javascript">
    //<![CDATA[
    _quickview_carturl = "<?php echo $this->getUrl('checkout/cart') ?>";
    _quickview_dialogWidth = 768;
    _quickview_aftercart_dialogWidth = 480;
    /* standard buttons for the dialog box*/
    var closeDialog = function() {
        jQuery("#quickview-dialog").dialog( "close" );
    }
    var quickview_aftercart_dialogButtons = {
        "<?php echo $this->__("Go to Cart"); ?>" : function() {
            window.location = window._quickview_carturl;
        },
        "<?php echo $this->__("Continue Shopping"); ?>" : closeDialog
    };
    /* buttons for the configurable product */
    var quickview_dialogButtons = {
        "<?php echo $this->__("Add to Cart"); ?>": function() {
            productAddToCartForm.submit();
        },
        "<?php echo $this->__("Close"); ?>": closeDialog
    };
//]]>
</script>

