<?php
/**
 * Productlabel template
 * 
 * @see Ebs_Productlabel_Block_Productlabel
 */
?>
<?php
if (version_compare(Mage::getVersion(), '1.5.0.0', '<')) {
    if ($this->getRequest()->getRouteName() == 'catalogsearch') {
        $_productCollection = $this->getSearchedProduct();
    } else {
        $_productCollection = $this->getLoadedProductCollection();
    }
}
else
    $_productCollection = $this->getLoadedProductCollection();

$_storeId = Mage::app()->getStore()->getId();
?>
<?php if (Mage::helper('productlabel')->getIsActiveLabel($_storeId)) { ?>
    <?php foreach ($_productCollection as $_product): ?>
        <?php
        $l_image_url = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'productlabel/label/';
        $label_product = $this->getCategorylabel($_product->getId(), $_storeId);
        $labels = $this->getAllCategoryLabel($_product->getId(), $_storeId);
        ?>
        <script type="text/javascript">
            $$('.category-products a.product-image').each(function(el) {
                if (el.href) {
        <?php $productUrl = $_product->getProductUrl(); ?>
        <?php $productUrl = str_replace('http://', '', $productUrl); ?>
        <?php $productUrl = str_replace('https://', '', $productUrl); ?>
                    if ((el.href == 'http://' + '<?php echo $productUrl; ?>') || el.href == 'https://' + '<?php echo $productUrl; ?>') {
        <?php if ($label_product->getId() && $label_product->getCategoryDisplay() == 1) { ?>

            <?php
            // use default image if image did not upload
            if ($label_product->getCategoryImage() == null)
                $l_image_url = $l_image_url . 'default/default_category_label.png';
            $dirImg = Mage::getBaseDir() . str_replace("/", DS, strstr($l_image_url . $label_product->getCategoryImage(), '/media'));
            if (file_exists($dirImg)) {
                $imageObj = new Varien_Image($dirImg);
                $width = $imageObj->getOriginalWidth();
                $height = $imageObj->getOriginalHeight();
            }
            ?>
                            el.innerHTML = el.innerHTML + '<div id="category-container-<?php echo $label_product->getId(); ?>" class="onsale-category-container" style="width: <?php echo $width . 'px' ?>; height:<?php echo $height . 'px' ?>; background-image: url(<?php echo $l_image_url . $label_product->getCategoryImage(); ?>);"><div id="category-onsale-label-<?php echo $label_product->getId(); ?>" class="custom-onsale-category-label-text onsale-category-label" style=""><span><?php echo Mage::helper('productlabel')->convertBackendString($label_product->getCategoryText(), $_product); ?></span></div></div>';
                            //set positon for label
                            setLabelPosition($('category-container-<?php echo $label_product->getId(); ?>'),<?php echo $label_product->getCategoryPosition() ?>);
                            setLabelPosition($('category-onsale-label-<?php echo $label_product->getId(); ?>'), 5);
        <?php } else { ?>
            <?php
            foreach ($labels as $l):
                $l_image_url = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'productlabel/label/';
                $flag = 1;
                $current_date = strtotime(date('Y-m-d H:m:s'));
                if ($l->getToTime()) {

                    if ($l->getFromTime() <= $current_date && $current_date <= $l->getToTime()) {
                        $flag = 1;
                    }
                    else
                        $flag = 0;
                } else {
                    if ($l->getFromTime()) {
                        if ($l->getFromTime() > $current_date)
                            $flag = 0;
                    }
                }
                ?>
                <?php if ($flag) { ?>
                    <?php
                    // use default image if image did not upload
                    if ($l->getCategoryImage() == null)
                        $l_image_url = $l_image_url . 'default/default_category_label.png';

                    $dirImg = Mage::getBaseDir() . str_replace("/", DS, strstr($l_image_url . $l->getCategoryImage(), '/media'));
                    if (file_exists($dirImg)) {
                        $imageObj = new Varien_Image($dirImg);
                        $width = $imageObj->getOriginalWidth();
                        $height = $imageObj->getOriginalHeight();
                    }
                    ?>
                                    el.innerHTML = el.innerHTML + '<div id="category-container-<?php echo $l->getId(); ?>" class="onsale-category-container" style="width: <?php echo $width . 'px' ?>; height:<?php echo $height . 'px' ?>; background-image: url(<?php echo $l_image_url . $l->getCategoryImage(); ?>);"><div id="category-onsale-label-<?php echo $l->getId(); ?>" class="custom-onsale-category-label-text onsale-category-label" style=""><span><?php echo $l->getCategoryText(); ?></span></div></div>';

                                    //set positon for label
                                    setLabelPosition($('category-container-<?php echo $l->getId(); ?>'),<?php echo $l->getCategoryPosition() ?>);
                                    setLabelPosition($('category-onsale-label-<?php echo $l->getId(); ?>'), 5);

                    <?php
                } endforeach;
        }
        ?>
                    }

                }
            });
        </script>

    <?php endforeach; ?>
<?php } ?>

