<?php
/**
 * Productlabel template
 * 
 * @see Ebs_Productlabel_Block_Productlabel
 */
?>
<?php
$_product = $this->getProduct();
$_storeId = Mage::app()->getStore()->getId();
if (Mage::helper('productlabel')->getIsActiveLabel($_storeId)) {
    $l_image_url = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'productlabel/label/';
    $label_product = $this->getProductLabel($_product->getId(), $_storeId);
    $labels = $this->getAllProductLabel($_product->getId(), $_storeId);
    ?>
    <script type="text/javascript">
    <?php if ($label_product->getId() && $label_product->getDisplay() == 1) { ?>
        <?php
        // use default image if image did not upload
        if ($label_product->getImage() == null)
            $l_image_url = $l_image_url . 'default/default_productdetail_label.png';

        $dirImg = Mage::getBaseDir() . str_replace("/", DS, strstr($l_image_url . $label_product->getImage(), '/media'));
        if (file_exists($dirImg)) {
            $imageObj = new Varien_Image($dirImg);
            $width = $imageObj->getOriginalWidth();
            $height = $imageObj->getOriginalHeight();
        }
        ?>
            var el = $$('.product-image')[0];
            el.innerHTML = el.innerHTML + '<div id="productdetail-container-<?php echo $label_product->getId(); ?>" class="onsale-productdetail-container" style="background-image: url(<?php echo $l_image_url . $label_product->getImage(); ?>); background-repeat: no-repeat;width: <?php echo $width . 'px' ?>; height:<?php echo $height . 'px' ?>;"><div id="productdetail-onsale-label-<?php echo $label_product->getId(); ?>" class="custom-onsale-productdetail-label-text onsale-productdetail-label" style=""><span><?php echo Mage::helper('productlabel')->convertBackendString($label_product->getText(), $_product); ?></span></div></div>';
            //set positon for label
            setLabelPosition($('productdetail-container-<?php echo $label_product->getId(); ?>'),<?php echo $label_product->getPosition() ?>);
            setLabelPosition($('productdetail-onsale-label-<?php echo $label_product->getId(); ?>'), 5);
    <?php } else { ?>
        <?php
        foreach ($labels as $l):
            $l_image_url = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'productlabel/label/';
            $flag = 1;
			$current_date = strtotime(date('Y-m-d H:m:s'));
            if ($l->getToTime()) {
                
                if ($l->getFromTime() <= $current_date && $current_date <= $l->getToTime()) {
                    $flag = 1;
                }
                else
                    $flag = 0;
            }
            else {
                if ($l->getFromTime()) {
                    if ($l->getFromTime() > $current_date)
                        $flag = 0;
                }
            }
            ?>

            <?php if ($flag) { ?>
                <?php
                // use default image if image did not upload
                if ($l->getImage() == null)
                    $l_image_url = $l_image_url . 'default/default_productdetail_label.png';

                $dirImg = Mage::getBaseDir() . str_replace("/", DS, strstr($l_image_url . $l->getImage(), '/media'));
                if (file_exists($dirImg)) {
                    $imageObj = new Varien_Image($dirImg);
                    $width = $imageObj->getOriginalWidth();
                    $height = $imageObj->getOriginalHeight();
                }
                ?>

                    var el = $$('.product-image')[0];
                    el.innerHTML = el.innerHTML + '<div id="productdetail-container-<?php echo $l->getId(); ?>" class="onsale-productdetail-container" style="background-image: url(<?php echo $l_image_url . $l->getImage(); ?>); background-repeat: no-repeat; width: <?php echo $width . 'px' ?>; height:<?php echo $height . 'px' ?>;"><div id="productdetail-onsale-label-<?php echo $l->getId(); ?>" class="custom-onsale-productdetail-label-text onsale-productdetail-label" style=""><span><?php echo $l->getText(); ?></span></div></div>';
                    //set positon for label
                    setLabelPosition($('productdetail-container-<?php echo $l->getId(); ?>'),<?php echo $l->getPosition() ?>);
                    setLabelPosition($('productdetail-onsale-label-<?php echo $l->getId(); ?>'), 5);
            <?php } endforeach;
    } ?>
    </script>
<?php } ?>
