<div id="form-ticket-colset" class="col2-set">
    <div class="col-1">

        <form action="<?php echo $this->getAction() ?>" method="post" id="form-ticket" enctype="multipart/form-data">
            <div class="fieldset">

                <h2 class="legend"><?php echo $this->__('Add New Ticket') ?></h2>

                <ul class="form-list">
                    <?php if(!Mage::getSingleton('customer/session')->isLoggedIn()) :?>

                    <li class="fields logged">
                        <div class="field">
                            <label for="title" class="required"><em>*</em><?php echo $this->__('Title') ?></label>
                            <div class="input-box">
                                <input type="text" name="title" title="<?php echo $this->__('Title') ?>" id="title" class="input-text required-entry" />
                            </div>
                        </div>

                        <div class="field">
                            <label for="email" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Email') ?></label>
                            <div class="input-box">
                                <input name="email" id="email" title="<?php echo Mage::helper('contacts')->__('Email') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="text" />
                            </div>
                        </div>
                    </li>
                    <?php else :?>
                    <li class="wide">
                        <label for="title" class="required"><em>*</em><?php echo $this->__('Title') ?></label>
                        <div class="input-box">
                            <input type="text" name="title" title="<?php echo $this->__('Title') ?>" id="title" class="input-text required-entry" />
                        </div>
                    </li>
                    <?php endif; ?>

                    <li class="fields">
                        <div class="field">
                            <label for="department" class="required"><em>*</em><?php echo $this->__('Department') ?></label>
                            <div class="input-box">
                                <?php echo $this->getDepartmentHtmlSelect() ?>
                            </div>
                        </div>
                        <?php if(Mage::getStoreConfig("helpmate/ticketForm/usePriorityOnFrontend")) :?>
                        <div class="field">
                            <label for="priority" class="required"><em>*</em><?php echo $this->__('Priority') ?></label>
                            <div class="input-box">
                                <?php echo $this->getPriorityHtmlSelect() ?>
                            </div>
                        </div>
                        <?php endif;?>
                    </li>

                    <li class="wide">
                        <label class="required" for="text"><?php echo $this->__('Message') ?><em>*</em></label>
                        <div class="input-box">
                            <textarea id="text" class="input-text required-entry" title="<?php echo $this->__('Message') ?>" name="text" cols="5" rows="3"></textarea>
                        </div>
                    </li>

                    <?php echo $this->getChildHtml('form.additional.info'); ?>
                </ul>

                <div class="buttons-set">
                    <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                    <p class="back-link"><a href="<?php echo $this->getBackUrl() ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
                    <button type="submit" title="<?php echo $this->__('Save Ticket') ?>" class="button"><span><span><?php echo $this->__('Save Ticket') ?></span></span></button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-2">
        <div class="block knowledge-suport-block">
            <div class="block-title">
                <strong><span><?php echo $this->__('Suport Results');?></span></strong>
            </div>
            <div class="block-content">
                <div class="form-ask">
                    <div id="suport_autocomplete2"></div>
                </div>
            </div>
        </div>
     </div>
</div>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-ticket', true);
//]]>
</script>
