<div class="block knowledge-block">
    <div class="block-title">
        <strong><span><?php echo $this->__('Search on Knowledge Base');?></span></strong>
    </div>
    <div class="block-content">
        <form method="get" action="<?php echo $this->getAction() ?>" id="ask_mini_form">
            <div class="form-ask">
                
                <?php $category = $this->getCategory();                
                if (!empty($category)) :?>
                    <input type="hidden" name="category" value="<?php echo $category?>" />
                <?php endif;?>

                <input type="text" class="input-text" value="<?php echo $this->getQuery();?>" name="q" id="ask" autocomplete="off">
                <button class="button" title="<?php echo $this->__('Search') ?>" type="submit">
                    <span><span><?php echo $this->__('Search') ?></span></span>
                </button>
                <div class="search-autocomplete" id="ask_autocomplete"></div>
                <script type="text/javascript">
                    function initAutocomplete(){
                        Autocomplete.prototype.isBadQuery = function(q) {
                            var i = this.badQueries.length;
                            while (i--) {
                                if (this.badQueries[i] === q) {return true;}
                            }
                            return false;
                        };

                        new Autocomplete('ask', {
                            serviceUrl:'<?php echo $this->getAjaxAction() ?>',
                            store:'<?php echo Mage::app()->getStore()->getStoreId(); ?>',

                            container: 'ask_autocomplete',
                            enableimage:'0',
                            enableloader:'0',
                            enabledescription:'1',
                            descriptionchars:'50',
                            minChars:'5',
                            maxHeight:'300',
                            width:'580',
                            searchtext:'',
                            
                            baseUrl:'<?php echo Mage::getBaseUrl(); ?>',
                            secureUrl:'<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK, true); ?>',
                            onSelect: onAutocompleteSubmit
                        });
                    }
        			if (Prototype.Browser.IE) {
        			    Event.observe(window, 'load', initAutocomplete);
        			} else {
        			    document.observe("dom:loaded", initAutocomplete);
        			}
                </script>
            </div>
        </form>
    </div>
</div>