<div class="block knowledge-block">
    <div class="block-title">
        <strong><span><?php echo $this->__('Categories');?></span></strong>
    </div>
    <div class="block-content">
        <?php $collection = $this->getCollection();
        if($collection && count($collection) ): ?>
            <ul>
                <?php foreach ($collection as $_category):?>
                <li>
                    <h6><?php echo $_category->getName() ?></h6>
                    <ul class="knowledge-articles-list">
                        <?php foreach ($_category->getFaqs() as $_faq):?>
                        <li>
                            <a href="<?php echo $this->getUrl(
                                'knowledgebase/index/view', array('faq' => $_faq->getIdentifier()))
                            ?>"><?php echo $_faq->getTitle() ?></a>&nbsp;
                        </li>
                        <?php endforeach; ?>
                    </ul>
                </li>
                <?php endforeach; ?>
            </ul>

        <?php else: ?>
            <p><?php echo $this->__('You have no categories.') ?></p>
        <?php endif; ?>
    </div>
</div>