<?php $_faq = $this->getFaq();
if (empty($_faq)) {
    return;
}
//Zend_Debug::dump($_faq['author_data']->getData());
if(null !== $_faq->getId()):?>
    <div class="block knowledge-block">
        <div class="block-title">
            <strong>
                <span><?php echo $_faq->getTitle();?></span>
            </strong>
        </div>
	 <div class="block-sub-title">
            <span class="knowledge-block-time">
                   <?php 
			$format = Mage::app()->getLocale()->getDateFormat(Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM);
			echo Mage::app()->getLocale()->date($_faq->getCreatedAt())->toString($format);
		 	?>
            </span>
            <span class="knowledge-block-author">
                <?php echo $this->__(
                    'by %s', $_faq->getAuthorData()->getName()
                );?>
            </span>
        </div>


        <div class="block-content">
            <?php echo $_faq->getContent(); ?>
            <?php if (!$this->isRated()) :?>
            <br/>
            <form id="knowledge-faq-rate-form" method="post" action="<?php echo $this->getRateAction() ?>">
                <input type="hidden" value="<?php echo $_faq->getId();?>" name="faq">
                <button type="submit" title="<?php echo $this->__('Like')?>" class="button form-button">
                    <span><span><?php echo $this->__('Like')?></span></span>
                </button>
            </form>
            <?php endif;?>
        </div>
    </div>
<?php endif; ?>
