<?php 
    $collection = $this->getCollection();
    if (!$collection->getSize()) {
        return false;
    }
?>
<div class="block knowledge-block" id="knowledge-block-result">
    <div class="block-title">
        <strong><span><?php echo $this->__('Popular articles');?></span></strong>
    </div>
    <div class="block-content">
        <?php
        if( $collection && count($collection) ): ?>
            <?php $processor = new Mage_Cms_Model_Template_Filter(); ?>
            <?php foreach ($collection as $_faq) :?>
                <div>
                    <a href="<?php echo $this->getUrl(
                        'knowledgebase/index/view', array('faq' => $_faq->getIdentifier()))
                    ?>"><?php echo $_faq->getTitle() ?></a>&nbsp;
                </div>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>
</div>
