<?php 
if (!Mage::getStoreConfig('knowledgebase/general/product')) {
    return;
}
$collection = $this->getCollection(); if (count($collection)) :?>
<div class="block">
    <div class="block-title">
        <strong><span><?php echo $this->__('Related Article');?></span></strong>
    </div>
    <div class="block-content">
        <ol>
        <?php foreach ($collection as $_faq) :?>
            <li class="item">
                <a href="<?php echo $this->getUrl(
                    'knowledgebase/index/view', array('faq' => $_faq->getIdentifier()))
                ?>"><?php echo $_faq->getTitle() ?></a>&nbsp;
            </li>
        <?php endforeach; ?>
        </ol>
    </div>
</div>
<?php endif; ?>