<?php $collection = $this->getAttributeCollection();?>
<?php if ($collection->getSize() > 0) : ?>
    <div id="orderattributes-checkoutonepage-attributes-container-order-review" class="buttons-set">
        <ul class="form-list" style="float:right">
            <?php foreach($collection as $attribute):?>
                <?php
                $html = $attribute->unpackData()->getTypeModel()->getFrontendFormRenderer()
                    ->setValue($this->getValueByAttributeId($attribute->getId()))
                    ->getHtml(true);
                ?>
                <?php if(strlen(trim($html)) > 0) :?>
                    <li class="fields form-alt" style="text-align: left">
                        <div class=""><?php echo $html;?></div>
                    </li>
                <?php endif;?>
            <?php endforeach;?>
        </ul>
    </div>
    <script type="text/javascript">
        var oaOriginalReviewSaveFn = Review.prototype.save;
        Review.prototype.save = function(){
            var validator = new Validation("orderattributes-checkoutonepage-attributes-container-order-review");
            if (validator.validate()) {
                oaOriginalReviewSaveFn.bind(window.review)();
            }
        }
        Ajax.Responders.register({
            onCreate: function(instance, response) {
                if (review && review.saveUrl === instance.url) {
                    var params = instance.parameters;
                    checkout._disableEnableAll($("orderattributes-checkoutonepage-attributes-container-order-review"), false);
                    Object.extend(params, Form.serialize("orderattributes-checkoutonepage-attributes-container-order-review", true));
                    //copy-paste from prototype.js
                    if (params = Object.toQueryString(params)) {
                        if (/Konqueror|Safari|KHTML/.test(navigator.userAgent)) {
                            params += '&_=';
                        }
                    }
                    Object.extend(instance.options, {'postBody': params});
                }
            }
        });
    </script>
<?php endif;?>