<?php $collection = $this->getAttributeCollection();?>
<?php if ($collection->getSize() > 0) : ?>
    <div id="orderattributes-checkoutonepage-attributes-container-payment-method">
        <ul class="form-list" >
            <?php foreach($collection as $attribute):?>
                <?php
                $html = $attribute->unpackData()->getTypeModel()->getFrontendFormRenderer()
                    ->setValue($this->getValueByAttributeId($attribute->getId()))
                    ->getHtml(true);
                ?>
                <?php if(strlen(trim($html)) > 0) :?>
                    <li class="fields form-alt">
                        <div class=""><?php echo $html;?></div>
                    </li>
                <?php endif;?>
            <?php endforeach;?>
        </ul>
    </div>
    <script type="text/javascript">
        var oaOriginalPaymentSaveFn = payment.save.bind(payment);
        payment.save = function(){
            var validator = new Validation("orderattributes-checkoutonepage-attributes-container-payment-method");
            if (validator.validate()) {
                oaOriginalPaymentSaveFn();
            }
        }
        Ajax.Responders.register({
            onCreate: function(instance, response) {
                if (payment.saveUrl === instance.url) {
                    var params = instance.parameters;
                    Object.extend(params, Form.serialize("orderattributes-checkoutonepage-attributes-container-payment-method", true));
                    //copy-paste from prototype.js
                    if (params = Object.toQueryString(params)) {
                        if (/Konqueror|Safari|KHTML/.test(navigator.userAgent)) {
                            params += '&_=';
                        }
                    }
                    Object.extend(instance.options, {'postBody': params});
                }
            }
        });
    </script>
<?php endif;?>