<?php if ($this->isOrderHasOrderReviewAttributes()): ?>
    <div id="oa-order-review" class="col2-set">
        <div class="col-1">
            <div class="box">
                <div class="box-title">
                    <h2><?php echo $this->__('Order Review'); ?></h2>
                </div>
                <div class="box-content">
                    <?php echo $this->getChildHtml('oa.order.review.attributes'); ?>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        (function() {
            var orderReviewBox = $('oa-order-review');
            if (orderReviewBox) {
                var orderDataSets = $$('.col2-set');
                orderDataSets[orderDataSets.length - 2].insert({
                    after: orderReviewBox
                });
            }
        })();
    </script>
<?php endif; ?>