<?php if ($this->isOrderHasOrderReviewAttributes()): ?>
    <div class="col1-set order-info-box">
        <div class="col-1">
            <div class="box">
                <div class="box-title">
                    <h2><?php echo $this->__('Order Review'); ?></h2>
                </div>
                <div class="box-content">
                    <?php echo $this->getChildHtml('oa.order.review.attributes'); ?>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>