
<?php if (true == Mage::getStoreConfig('helpmate/general/enabledAttached')) :
    $extensions = Mage::getStoreConfig('helpmate/general/attachedAllowedExtensions');
?>
<script type="text/javascript">
//<![CDATA[

    function showAttache() {

        var hiddenAttaches = $('attachprompt').up()
            .childElements()
            .filter(function(el) {
                if (false === el.hasClassName('input-box')) {
                    return false;
                }
                if (false === el.hasClassName('hidden')) {
                    return false;
                }
                return true;
            })
        ;
        if (hiddenAttaches.length) {
            var el = hiddenAttaches.first();
            el.removeClassName('hidden');
            el.down('[type="file"]').addClassName('validate-extensions');

        } else {
            $('attachprompt').hide();
        }
    }

    function removeFileInputBox(el)
    {
        el.up().remove();
    }

    Validation.add(
        'validate-extensions',
        '<?php echo $this->__('Sorry but current file type is not allowed')?>',
        function(value){
            var extensions = /(.<?php echo str_ireplace(",", "|.", $extensions);?>)$/i;
            if(extensions.test(value)){
                return true;
            }
            return false;
    });

//]]>
</script>

<li class="wide">
    <label for="title" ><?php echo $this->__('File (allowed %s)', str_ireplace(",", ", ", $extensions)) ?></label>
    <?php for ($i = 0; $i < 5; $i++) : ?>
        <div class="input-box hidden">
            <input type="file" name="file<?php echo $i;?>" title="<?php echo $this->__('File') ?>" id="file<?php echo $i;?>"/>
            <a onclick="removeFileInputBox(this);return false;" href="#">
                <?php echo $this->__('Remove') ?>
            </a>
        </div>
    <?php endfor;?>
    <span id="attachprompt">
        <img border="0" width="15" height="15" src="http://www.gstatic.com/codesite/ph/images/paperclip.gif">
        <a id="attachafile" href="javascript:showAttache()">
            <?php echo $this->__("Attach another file") ?>
        </a>
    </span>
</li>
<?php endif;


