table.oa-attributes {
    width: 100%;
    margin-top: 10px;
}

table.oa-attributes td.label {
    width: 100px;
    margin-right: 5px;
}

#oa-order-review .col-1{
    width: auto;
}

#orderattributes-checkoutmultishipping-attributes-container-billing-address input.input-text{
    width: 250px;
}

#orderattributes-checkoutmultishipping-attributes-container-order-review .input-box{
    width: auto;
    float: right;
}
#orderattributes-checkoutmultishipping-attributes-container-order-review label{
    display:block;
    width: 100%;
    text-align:left;
}