<script type="text/javascript">
stockstatus_ranges_cnt = 0;
function stockstatus_addRange(from, to, status, rule)
{
    if ('undefined' == typeof(from))
    {
        from = '';
    }
    if ('undefined' == typeof(to))
    {
        to = '';
    }
    if ('undefined' == typeof(status))
    {
        status = '';
    }
    if ('undefined' == typeof(rule))
    {
        rule = '';
    }
    tbd = $('ranges_table_body');
    row = document.createElement('tr');
    row.setAttribute('id', 'stockstatus_range_row_' + stockstatus_ranges_cnt);
    tbd.appendChild(row);
    
    cell = document.createElement('td');
    cell.innerHTML = '<input class="input-text" type="text" size="11" name="stockstatus_range[' + stockstatus_ranges_cnt +  '][from]" value="' + from + '" />';
    row.appendChild(cell);
    
    cell = document.createElement('td');
    cell.innerHTML = '<input class="input-text" type="text" size="11" name="stockstatus_range[' + stockstatus_ranges_cnt +  '][to]" value="' + to + '" />';
    row.appendChild(cell);
    
    cell = document.createElement('td');
    cell.innerHTML = '<select style="width:120px;" name="stockstatus_range[' + stockstatus_ranges_cnt +  '][status]">' 
    <?php foreach ($this->getOptionsCollection() as $option): ?>
     + '<option value="<?php echo $option->getData('option_id'); ?>" ' 
                + ((status == <?php echo str_replace("'", '&apos;', $option->getData('option_id')); ?>) ? 'selected="selected"' : '') 
                                                            + '><?php echo  str_replace("'", '&apos;', $option->getData('value')); ?></option>'
    <?php endforeach; ?>
     + '</select>';
    row.appendChild(cell); 
      
    <?php if( Mage::getStoreConfig('stockstatus/general/use_range_rules')): ?>
        cell = document.createElement('td');
        cell.innerHTML = '<select style="min-width:110px;" name="stockstatus_range[' + stockstatus_ranges_cnt +  '][rule]">' 
         + '<option value=""></option>'
        <?php
        foreach ($this->getRuleCollection() as $option):
        ?>
         + '<option value="<?php echo $option->getData('option_id'); ?>" ' 
                    + ((rule == <?php echo str_replace("'", '&apos;', $option->getData('option_id')); ?>) ? 'selected="selected"' : '') 
                                                                + '><?php echo  str_replace("'", '&apos;', $option->getData('value')); ?></option>'
        <?php
        endforeach;
        ?>
         + '</select>';
        row.appendChild(cell);
    <?php endif; ?>
    
    
    cell = document.createElement('td');
    cell.innerHTML = '<button type="button" title="Delete" class="scalable delete delete-option" onclick="$(\'ranges_table_body\').removeChild($(\'stockstatus_range_row_' + stockstatus_ranges_cnt + '\'));"><span><span><?php echo $this->__('Delete'); ?></span></span></button>';
    row.appendChild(cell);
    
    stockstatus_ranges_cnt++;
}

<?php 
$rangesCollection = $this->getRanges();
if ($rangesCollection->getSize() > 0)
{
    ?>
    function stockstatus_populateRanges()
    {
        <?php foreach ($rangesCollection as $range): ?>
            <?php $rule = Mage::getStoreConfig('stockstatus/general/use_range_rules') && $range->getData('rule') != ""?  ', '.$range->getData('rule'):""; ?>
            stockstatus_addRange(<?php echo $range->getData('qty_from'); ?>, <?php echo $range->getData('qty_to'); ?>, <?php echo $range->getData('status_id');?><?php echo $rule;?>);
        <?php endforeach; ?>
    }
    
    Event.observe(window, 'load', stockstatus_populateRanges);
    <?php
}
?>
</script>


<div class="entity-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('stockstatus')->__('Stock Status for Quantity Range') ?></h4>
    </div>
    <div class="box">
            <div class="hor-scroll">
                <table cellpadding="5" cellspacing="8" id="ranges_table">
                    <thead>
                        <th><?php echo $this->__('Quantity From'); ?></th>
                        <th><?php echo $this->__('Quantity To'); ?></th>
                        <th><?php echo $this->__('Custom Stock Status'); ?></th>
                        <?php if( Mage::getStoreConfig('stockstatus/general/use_range_rules')): ?>
                            <th><?php echo $this->__('Stock Status  Rule'); ?></th>
                        <?php endif; ?>
                        <th></th>
                    </thead>
                    <tbody id="ranges_table_body">
                        
                    </tbody>
                </table>
                <br />
                <button onclick="javascript: stockstatus_addRange(); return false;" class="scalable add" type="button" title="Add Option" id="add_new_status_button"><span><span><span><?php echo $this->__('Add New Range Status'); ?></span></span></span></button>
            </div>
    </div>
</div>