.ui-widget .ui-widget{font-size:0.9em !important;}
.quickview-loader{background: url(../images/loader.gif) center no-repeat; height: 50px; display:none; }
.quickview.block.block-cart{text-align: left;margin-bottom:0px;}
.quickview-message, #quickview-dialog{text-align: left;margin-bottom:0px;}
#quickview-dialog{display:none;}
.quickview-message .price-box{text-align:left;}
.quickview.block.block-cart .truncated{position:relative;}
.quickview.block.block-cart .truncated .truncated_full_value {display:none;position:absolute;overflow:visible;}
.quickview.block.block-cart .truncated .truncated_full_value dl.item-options {position:relative; left: 0px; top:15px;z-index: 100000;width:200px;}
.quickview.block.block-cart .truncated a.details{display:block; float: left; }
#quickview-dialog .product-options#product-options-wrapper,#quickview-dialog .quickview-qty-form.product-options{margin:0px;}
#quickview-dialog .product-name h1 {font: bold 15px/1.35 Arial,Helvetica,sans-serif;margin: 0;}

ol li.item a.product-image, ul li.item a.product-image{position:relative;}

.quick-view-link{position:absolute;top:50px;text-align:center;padding:5px;display:none;}

#quickview-dialog .product-view{border:none; width:100%;background: none;border-top: 0px;float:left !important;margin:0px;}
#quickview-dialog .product-essential{background:none;padding:0px;}

.quickview-more-views ul li{display:inline-block;}
.quickview-more-views ul li a{display:inline-block;border:solid 2px #ccc;margin:3px;}

#quickview-dialog .product-img-box{ width:267px !important; padding: 0px !important;  }
#quickview-dialog .product-view .product-shop {float: right;width: 330px;padding:0px;  }
#quickview-dialog  .product-view .short-description {display: block;}

.ajaxaddtocart-loader{background: url(../images/loader.gif) center no-repeat; height: 50px; display:none; }
.ajaxaddtocart.block.block-cart{text-align: left;margin-bottom:0px;}
.ajaxaddtocart-message, #ajaxaddtocart-dialog{text-align: left;margin-bottom:0px;}
.ajaxaddtocart-message .price-box{text-align:right;}
.ajaxaddtocart.block.block-cart .truncated{position:relative;}
.ajaxaddtocart.block.block-cart .truncated .truncated_full_value {display:none;position:absolute;overflow:visible;}
.ajaxaddtocart.block.block-cart .truncated .truncated_full_value dl.item-options {position:relative; left: 0px; top:15px;z-index: 100000;width:200px;}
.ajaxaddtocart.block.block-cart .truncated a.details{display:block; float: left; }
#ajaxaddtocart-dialog .product-options#product-options-wrapper,#ajaxaddtocart-dialog .ajaxaddtocart-qty-form.product-options{margin:0px;}
#ajaxaddtocart-dialog .product-name h1 {font: bold 15px/1.35 Arial,Helvetica,sans-serif;margin: 0;}
#ajaxaddtocart-dialog a#ajaxaddtocart-qty-plus,
#ajaxaddtocart-dialog a#ajaxaddtocart-qty-minus{height: 20px;line-height: 20px;width: 20px;font-size:12px;display:inline-block;text-indent: -500px;overflow: hidden;text-decoration:none;font-weight: bold;text-align: center;background:#ccc;border: none;color:#fff;}
#ajaxaddtocart-dialog {display: none;}
#ajaxaddtocart-dialog #qty{float:none;margin-right: 0px; vertical-align: top;}
#ajaxaddtocart-dialog a#ajaxaddtocart-qty-plus{background:url(../images/plus-minus.png) top left no-repeat;}
#ajaxaddtocart-dialog a#ajaxaddtocart-qty-minus{background:url(../images/plus-minus.png) top right no-repeat;}