<?php
    $_ticketNumber = $this->getTicketNumber();
    if (!$_ticketNumber) {
        return;
    }
?>
<form action="<?php echo $this->getAction() ?>" method="post" id="form-theard" enctype="multipart/form-data">
    <div class="fieldset">

        <h2 class="legend"><?php echo $this->__('Add New Message') ?></h2>

        <ul class="form-list">

            <li class="wide">
                <label for="text"><?php echo $this->__('Message') ?></label>
                <div class="input-box">
                    <textarea id="text" class="input-text" title="<?php echo $this->__('Message') ?>" name="text" cols="3" rows="2"></textarea>
                </div>
            </li>

            <?php echo $this->getChildHtml('form.additional.info'); ?>
<!--
            <?php if (true == Mage::getStoreConfig('helpmate/general/enabledAttached')) :?>
            <script type="text/javascript">
            //<![CDATA[

            function showAttache() {
                var filterInputBox = function(el) {
                    if (false === el.hasClassName('input-box')) {
                        return false;
                    }
                    return true;
                };
                var filterHidden = function(el) {
                    if (false === el.hasClassName('hidden')) {
                        return false;
                    }
                    return true;
                };
                var childs = $('attachprompt').up()
                    .childElements()
                    .filter(filterInputBox)
                    .filter(filterHidden);
                if (!childs.length) {
                    $('attachprompt').hide();
                } else {
                   childs[0].removeClassName('hidden');
                }
            }

            function removeFileInputBox(el)
            {
                el.up().remove();
            }

            //]]>
            </script>

            <li class="wide">
                <label for="title" ><?php echo $this->__('File (allowed %s)', Mage::getStoreConfig('helpmate/general/attachedAllowedExtensions')) ?></label>
                <?php for ($i = 0; $i < 5; $i++) : ?>
                    <div class="input-box hidden">
                        <input type="file" name="file<?php echo $i;?>" title="<?php echo $this->__('File') ?>" id="file<?php echo $i;?>"/>
                        <a onclick="removeFileInputBox(this);return false;" href="#"><?php echo $this->__('Remove') ?></a>
                    </div>
                <?php endfor;?>
                <span id="attachprompt">
                    <img border="0" width="15" height="15" src="http://www.gstatic.com/codesite/ph/images/paperclip.gif"><a id="attachafile" href="javascript:showAttache()">Attach another file</a>
                </span>
            </li>
            <?php endif;?>
            -->
        </ul>
        <input name="ticket_number" type="hidden" value="<?php echo $_ticketNumber;?>" />
    </div>
    <div class="buttons-set">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <p class="back-link"><a href="<?php echo $this->getBackUrl() ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
        <button type="submit" title="<?php echo $this->__('Add Message') ?>" class="button"><span><span><?php echo $this->__('Add Message') ?></span></span></button>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-theard', true);
//]]>
</script>
