<?php $attributes = $this->getLinkedAttributes(); ?>
<?php if (count($attributes)): ?>
    <table cellspacing="0" class="oa-attributes">
        <tbody>
        <?php foreach ($attributes as $attribute): ?>
            <?php echo $attribute->unpackData()->getTypeModel()->getFrontendViewRenderer()->setValue($this->getValueByAttributeId($attribute->getId()))->getHtml(); ?>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>