.onsale-category-container {
    cursor: pointer;
    position: absolute;
    z-index: 100;
}
div.custom-onsale-category-label-text {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
}
div.onsale-category-label {
    text-align: center;
    position: absolute;
}
.product-image {
    position: relative;
}
.onsale-productdetail-container {
    cursor: pointer;
    position: absolute;
    z-index: 100;
}
div.custom-onsale-productdetail-label-text {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
}
div.onsale-productdetail-label {
    text-align: center;
    position: absolute;
}