input[type="checkbox"], input[type="radio"]{
    margin: 0 5px 0 0;
}

ol.checkout-agreements {
    margin-top: 10px;
}

.onestepcheckout-extraproducts {
    margin-top: 10px;
    margin-bottom: 10px;
}

.onestepcheckout-extraproducts span {
    font-weight: bold;
}

.onestepcheckout-extraproducts li {
    padding: 2px 0;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/* Button CSS */
.onestepcheckout-button, .onestepcheckout-button:visited {
    background: #222 url(../images/button-background.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
}

.onestepcheckout-button:hover {
    background-color: #111;
    color: #fff;
}

.onestepcheckout-button:active {
    top: 1px;
}

.small.onestepcheckout-button, .small.onestepcheckout-button:visited {
    font-size: 11px;
}

.onestepcheckout-button, .onestepcheckout-button:visited,
.medium.onestepcheckout-button, .medium.onestepcheckout-button:visited {
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.large.onestepcheckout-button, .large.onestepcheckout-button:visited {
    font-size: 16px;
    padding: 8px 30px 9px;
}

.green.onestepcheckout-button, .green.onestepcheckout-button:visited {
    background-color: #91bd09;
}

.green.onestepcheckout-button:hover {
    background-color: #749a02;
}

.blue.onestepcheckout-button, .blue.onestepcheckout-button:visited {
    background-color: #2daebf;
}

.blue.onestepcheckout-button:hover {
    background-color: #007d9a;
}

.red.onestepcheckout-button, .red.onestepcheckout-button:visited {
    background-color: #e33100;
}

.red.onestepcheckout-button:hover {
    background-color: #872300;
}

.magenta.onestepcheckout-button, .magenta.onestepcheckout-button:visited {
    background-color: #a9014b;
}

.magenta.onestepcheckout-button:hover {
    background-color: #630030;
}

.orange.onestepcheckout-button, .orange.onestepcheckout-button:visited {
    background-color: #39c;
}

.orange.onestepcheckout-button:hover {
    background-color: #2e8ab8;
}

.yellow.onestepcheckout-button, .yellow.onestepcheckout-button:visited {
    background-color: #ffb515;
}

.yellow.onestepcheckout-button:hover {
    background-color: #fc9200;
}

.grey.onestepcheckout-button, .grey.onestepcheckout-button:visited {
    background-color: #cccccc;
}

.grey.onestepcheckout-button:hover {
    background-color: #cccccc;
}

.onestepcheckout-place-order-loading {
    text-align: right;
    margin-top: 10px;
    padding-left: 20px;
    font-style: italic;
    background: url(../images/ajax-loader.gif) no-repeat;
    display: inline-block;
}

select.address-select {
    margin: 3px 0 3px 0;
    width: 95% !important;
}

.onestepcheckout-enterprise span.validation-error,.onestepcheckout-enterprise div.validation-error {
    padding-right: 0;
}

ul.onestepcheckout-custom-options {
    margin: 0 0 0 20px;
    padding: 0;
    list-style-type: disc;
}

.additional-info-content{
    display: none;
}

.onestepcheckout-coupons input#id_couponcode {
    margin-bottom: 5px;
    width: 200px;
}

.onestepcheckout-giftcards input#id_giftcardcode {
    margin-bottom: 5px;
    width: 189px;
}

#onestepcheckout-form label {
    font-weight: normal !important;
    color: #333;
}

.onestepcheckout-summary,.onestepcheckout-totals {
    border-collapse: collapse;
}

.onestepcheckout-totals {
}

.onestepcheckout-summary th,.onestepcheckout-summary,.onestepcheckout-summary td,.onestepcheckout-totals td {
    padding: 3px 0;
}

.onestepcheckout-summary th {
    font-weight: bold;
    border-bottom: 1px solid #BEBCB7;
}

.onestepcheckout-totals td,.onestepcheckout-summary td {
    border-bottom: 1px solid #BEBCB7;
}

h1.onestepcheckout-title {
    font-size: 20px;
    text-transform: uppercase;
}

p.onestepcheckout-description {
    font-size: 18px;
}

#onestepcheckout-form .group-select {
    padding: 20px !important;
}

div.onestepcheckout-threecolumns {
    margin-top: 10px;
}

div.onestepcheckout-threecolumns h1 {
    font-family: Arial,serif;
    font-size: 18px;
    font-weight: bold;
}

div.onestepcheckout-threecolumns div.onestepcheckout-column-left {
    width: 33%;
    float: left;
    margin-right: 2%;
    padding: 0 15px 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

div.onestepcheckout-threecolumns div.onestepcheckout-column-middle {
    width: 65%;
    float: right;
    padding: 0 15px 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

div.onestepcheckout-threecolumns div.onestepcheckout-column-right {
    width: 65%;
    float: right;
    padding: 0 15px 15px;
    margin-top: 24px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

p.onestepcheckout-login-link {
    padding-top: 5px;
}

#onestepcheckout-email-error {
    width: 245px;
    clear: both;
    padding-top: 3px;
}

div.onestepcheckout-error {
    color: #DF280A;
    border: 1px solid #DF280A;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
    background: #FAEBE7 url(../images/onestepcheckout-error.jpg) no-repeat 5px 5px;
}

.onestepcheckout-column-left .onestepcheckout-error {
    width: 85% !important;
}

div.onestepcheckout-enable-newsletter {
    margin-bottom: 10px;
    /*text-align: right;*/;
}

div.onestepcheckout-enable-newsletter-bottom {
    margin-top: 20px;
    text-align: right;
}

div.onestepcheckout-enable-terms {
 /*text-align: right;*/
    margin-top: 10px;
}

table.onestepcheckout-summary {
    width: 100%;
}

table.onestepcheckout-summary td.name {
    width: 55%;
}

table.onestepcheckout-summary td.qty,table.onestepcheckout-summary th.qty {
    width: 10%;
    text-align: center;
}

table.onestepcheckout-summary td.total,table.onestepcheckout-summary th.total {
    width: 35%;
    text-align: right;
}

table.onestepcheckout-totals {
    width: 100%;
    margin-bottom: 20px;
}

table.onestepcheckout-totals tr.grand-total td {
    font-weight: bold;
}

table.onestepcheckout-totals td.title {
    width: 65%;
    text-align: right;
}

table.onestepcheckout-totals td.value {
    width: 35%;
    text-align: right;
}
.qty-wrapper{
    width: 100px;
}
.qty-wrapper input[type=text]{
    width: 30px;
    text-align: center;
}
.qty-wrapper button{
    display: inline-block;
    width: 15px;
    background: #39c;
    border: 1px solid #c0c0c0;
    color: #fff;
}
div.onestepcheckout-place-order-wrapper {
    text-align: right;
    margin-top: 20px;
}

div.checkoutcontainer {
    min-height: 33em;
    overflow: hidden;
}

div.checkoutcontainer .checkout-error-message {
    font-size: 14px;
    margin-left: 10px;
    color: #ff0000;
}

div.checkoutcontainer .payment-methods .form-list label {
    text-align: left !important;
}

div.checkoutcontainer div.input-error label {
    color: #ff0000 !important;
}

div.checkoutcontainer div.input-error input,div.checkoutcontainer div.input-error select {
    border: 1px solid #ff0000 !important;
}

div.checkoutcontainer div.input-different-shipping {
    margin-top: 10px;
}

div.checkoutcontainer div.input-address-short,div.checkoutcontainer div.input-firstname,div.checkoutcontainer div.input-lastname,div.checkoutcontainer div.input-email,div.checkoutcontainer div.input-telephone,div.checkoutcontainer div.input-company,div.checkoutcontainer div.input-fax,div.checkoutcontainer div.input-password {
    width: 48%;
    float: left;
}
div.checkoutcontainer div.input-box + div.input-box{
    float: right;
}
div.checkoutcontainer li.taxvat .input-text {
    width: 83% !important;
}

div.checkoutcontainer div.input-address-short .input-text, div.checkoutcontainer div.input-firstname .input-text,div.checkoutcontainer div.input-lastname .input-text,div.checkoutcontainer div.input-email .input-text,div.checkoutcontainer div.input-telephone .input-text,div.checkoutcontainer div.input-company .input-text,div.checkoutcontainer div.input-fax .input-text,div.checkoutcontainer div.input-password .input-text {
    width: 100%;
}

div.checkoutcontainer div.input-address,div.checkoutcontainer div.input-city,div.checkoutcontainer li.taxvat div.input-box {
    width: 100% !important;
}

div.checkoutcontainer div.input-address .input-text,div.checkoutcontainer div.input-city .input-text {
    width: 100%;
}

div.checkoutcontainer div.input-postcode {
    width: 39%;
    float: left;
}

div.checkoutcontainer div.input-postcode .input-text {
    width: 70%;
}

div.checkoutcontainer div.input-region {
    width: 60%;
    float: left;
}

div.checkoutcontainer div.input-region .input-text {
    width: 77%;
}

div.checkoutcontainer div.input-country {
    width: 100%;
}

div.checkoutcontainer div.input-country select {
    width: 100%;
    height: 30px;
}

div.checkoutcontainer div.input-region select {
    width: 100% !important;
    height: 30px;
}

fieldset.group-select {
    padding: 10px 10px;
}

.group-select li {
    padding: 4px 0;
    clear: both;
}

.shipment-methods dd {
    font-weight: bold;
    margin: 0 !important;
}

p.checkout-choose-payment-method,p.checkout-choose-shipping-method {
    margin-top: 1em;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

p.checkout-choose-payment-method {
    margin-top: 2em !important;
}

.payment-methods dd {
    padding: 0 0 0 20px;
}

.payment-methods dd li {
    padding: 0;
}

div.onestepcheckout-shipping-method {
    margin-bottom: 20px;
}

div.loading-ajax, div.loading-ajax-login {
    height: 50px;
    text-align: center;
    background: url(../images/ajax-loader.gif) no-repeat center center;
}

.onestepcheckout-deliverydate-block{
    clear: both;
    padding-top: 20px;
}
.onestepcheckout-deliverydate-block .page-title h1{
    color: #2e8ab8;
}

p.onestepcheckout-numbers {
    background-color: #39c;
    height: 40px;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0 10px 60px;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    margin: 0 -15px 10px;
    position: relative;
}
#billing_address p.onestepcheckout-numbers-1 {
    margin-top: -4px;
}
p.onestepcheckout-numbers:before{
    width: 40px;
    height: 40px;
    padding: 10px 0;
    line-height: 20px;
    content: "";
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fafafa;
    border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    border-bottom: 1px solid #39c;
    color: #39c;
}
p.onestepcheckout-numbers:after{
    width: 0;
    height: 0;
    border-top: 40px solid #fafafa;
    border-right: 15px solid transparent;
    position: absolute;
    bottom: 0;
    left: 40px;
    content: "";
}
p.onestepcheckout-numbers-1 {
    /*background-image: url(../images/onestepcheckout-numbers-1.png);*/
}
p.onestepcheckout-numbers-1:before{
    background: #fff url("../images/home-ic.png") no-repeat center;
}
p.onestepcheckout-numbers-2 {
    /*background-image: url(../images/onestepcheckout-numbers-2.png);*/
}
p.onestepcheckout-numbers-2:before{
    background: #fff url("../images/shipping-ic.png") no-repeat center;
}
p.onestepcheckout-numbers-3 {
    /*background-image: url(../images/onestepcheckout-numbers-3.png);*/
}
p.onestepcheckout-numbers-3:before{
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-top: 1px solid #39c;
    background: #fff url("../images/payment-ic.png") no-repeat center;
}
p.onestepcheckout-numbers-3:after{
    border-top: 39px solid #fafafa;
}
p.onestepcheckout-numbers-4 {
    /*background-image: url(../images/onestepcheckout-numbers-4.png);*/
}
p.onestepcheckout-numbers-4:before{
    background: #fff url("../images/tich-ic.png") no-repeat center;
}
div.onestepcheckout-skin-magento .onestepcheckout-numbers {
    padding-top: 0;
    padding-left: 28px !important;
    height: 25px !important;
    text-transform: capitalize !important;
    color: #F18200 !important;
    font-size: 13px !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-1 {
    background-image: url(../images/skin-magento/onestepcheckout-numbers-1.png)
        !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-2 {
    background-image: url(../images/skin-magento/onestepcheckout-numbers-2.png)
        !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-3 {
    background-image: url(../images/skin-magento/onestepcheckout-numbers-3.png)
        !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-4 {
    background-image: url(../images/skin-magento/onestepcheckout-numbers-4.png)
        !important;
}

/* Popup CSS */
#onestepcheckout_popup_overlay_iframe {
    z-index: 100000;
    background-color: #000000;
    opacity: 0.8;
    filter: alpha(opacity =   80);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
}

#onestepcheckout_popup_overlay {
    z-index: 1000000;
    background-color: #000000;
    opacity: 0.8;
    filter: alpha(opacity =   80);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    cursor: pointer;
}

#onestepcheckout-toc-popup {
    width: 482px;
    height: 530px;
    position: absolute;
    z-index: 1000001;
}

#onestepcheckout-toc-popup .onestepcheckout-popup-wrapper {
    height: 515px !important;
}

#onestepcheckout-toc-popup div.onestepcheckout-popup-contents {
    overflow: auto;
    height: 450px;
}

#onestepcheckout-toc-popup h1 {
    margin-left: 20px;
}

#onestepcheckout-toc-popup .onestepcheckout-toc-terms {
    margin: 0 20px 20px;
    height: 440px !important;
    overflow: auto;
    padding-right: 10px;
}

#onestepcheckout-login-popup,#onestepcheckout-toc-popup {
    text-align: left !important;
}

.onestepcheckout-popup-footer {
    background: url(../images/onestepcheckout-popup-footer.png) no-repeat;
    height: 13px;
}

.onestepcheckout-popup-wrapper {
    *background-image: url(../images/onestepcheckout-popup-header.png)
        !important;
    background: url(../images/onestepcheckout-popup-header.png) no-repeat;
}

.onestepcheckout-popup-wrapper h1 {
    font-size: 18px !important;
    padding-bottom: 10px !important;
    padding-top: 15px !important;
}

.onestepcheckout-popup-contents {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    padding-bottom: 1px;
}

.onestepcheckout-popup-wrapper label {
    font-weight: normal;
}

.onestepcheckout-popup-wrapper .input-text {
    width: 190px !important;
}

#onestepcheckout-forgot-table td {
    vertical-align: middle !important;
}

/* Popup CSS (login link) */
#onestepcheckout-login-popup {
    width: 482px;
    position: absolute;
    z-index: 1000001;
    /*position: fixed;*/;
}

#onestepcheckout-login-popup table {
    width: 99%;
}

#onestepcheckout-login-popup table td {
    padding-top: 3px;
    padding-bottom: 3px;
}

#onestepcheckout-login-popup button {
    padding: 3px 10px;
    background: #39c;
    border: none;
    color: #fff;
}

#onestepcheckout-login-popup div.onestepcheckout-popup-contents {
}

#onestepcheckout-login-popup p.close,#onestepcheckout-toc-popup p.close {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 8px;
}

#onestepcheckout-login-popup p.close a,#onestepcheckout-login-popup p.close a:link,#onestepcheckout-login-popup p.close a:visited,#onestepcheckout-toc-popup p.close a,#onestepcheckout-toc-popup p.close a:link,#onestepcheckout-toc-popup p.close a:visited {
    width: 24px;
    height: 24px;
    font-family: tahoma;
    color: #39c;
    background: #fff;
    text-align: center;
    font-size: 0;
    display: block;
    padding: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #c0c0c0;
}
#onestepcheckout-login-popup p.close a:before{
    content: "x";
    width: 100%;
    height: 100%;
    position: absolute;;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 14px;
    font-family: tahoma;
    line-height: 24px;
    font-weight: normal;
}

#onestepcheckout-login-popup p.close a:hover,#onestepcheckout-toc-popup p.close a:hover {
    text-decoration: underline;
}

#onestepcheckout-login-error,#onestepcheckout-forgot-error {
    color: #ff0000;
    margin-bottom: 10px;
}

div.onestepcheckout-comments {
    margin-top: 5px;
    margin-bottom: 20px;
}

div.onestepcheckout-comments textarea {
    margin-top: 5px;
    width: 95%;
}

/* onestepcheckout-twocolumns */
.onestepcheckout-two-columns .onestepcheckout-column-left {
    width: 47%;
    float: left;
    margin-right: 30px;
    background: transparent url(../images/line-gradient.gif) no-repeat scroll
        right top;
}

.onestepcheckout-two-columns .onestepcheckout-column-right {
    width: 43%;
    float: left;
}

.onestepcheckout-two-columns p.onestepcheckout-numbers {
    margin-top: 20px !important;
}

.onestepcheckout-two-columns div.onestepcheckout-enable-terms {
    text-align: center !important;
}

.onestepcheckout-two-columns div.onestepcheckout-place-order-wrapper {
    text-align: center !important;
    margin-top: 10px !important;
}

.onestepcheckout-two-columns div.onestepcheckout-enable-newsletter {
    text-align: center !important;
}

.checkoutcontainer .payment-methods .input-box {
    width: 100% !important;
}

.checkoutcontainer .payment-methods .input-box .input-text,.checkoutcontainer .payment-methods .input-box textarea,.checkoutcontainer .payment-methods .input-box select {
    width: 95% !important;
}

.checkoutcontainer .payment-methods .input-box select.year,.checkoutcontainer .payment-methods .input-box select#protxDirect_expiration_yr,.checkoutcontainer .payment-methods .input-box select#protxDirect_start_yr {
    width: 75px !important;
    height: 30px;
}

.checkoutcontainer .payment-methods .input-box select.month,.checkoutcontainer .payment-methods .input-box select#protxDirect_start,.checkoutcontainer .payment-methods .input-box select#protxDirect_expiration {
    width: 140px !important;
    height: 30px;
}

.checkoutcontainer li.shipping-address-title {
    font-family: Arial,sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #404040;
    font-weight: bold;
    padding-top: 5px;
}

.onestepcheckout-giftmessagecontainer {
    margin-bottom: 10px;
}

.onestepcheckout-giftmessagecontainer .input-checkbox {
    /*text-align: right;*/;
}

#onestepcheckout-giftmessages .onestepcheckout-giftmessages fieldset.group-select {
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
}

.onestepcheckout-giftmessages .group-select li .input-box-last {
    margin-right: 0 !important;
}

.onestepcheckout-giftmessages .group-select li .input-box {
    width: 125px;
    margin-right: 20px;
}

.onestepcheckout-giftmessages .group-select li .input-box .input-text {
    width: 120px;
}

.onestepcheckout-giftmessages .group-select li textarea {
    width: 267px;
}

.onestepcheckout-address-line {
    margin-bottom: 10px;
}

.onestepcheckout-column-left .customer-dob .dob-month,.onestepcheckout-column-left .customer-dob .dob-day,.onestepcheckout-column-left .customer-dob .dob-year {
    float: left;
}

.onestepcheckout-column-left .customer-dob input.input-text {
    display: block;
    width: 74px;
}

.onestepcheckout-column-left .customer-dob label {
    font-size: 10px;
    font-weight: normal;
    color: #888;
}

.onestepcheckout-column-left .customer-dob .dob-day,.onestepcheckout-column-left .customer-dob .dob-month {
    width: 60px;
}

.onestepcheckout-column-left .customer-dob .dob-day input.input-text,.onestepcheckout-column-left .customer-dob .dob-month input.input-text {
    width: 46px;
}

.onestepcheckout-column-left .customer-dob .dob-year {
    width: 110px;
}

.onestepcheckout-column-left .customer-dob .dob-year input.input-text {
    width: 115px;
}

.onestepcheckout-feedback, .onestepcheckout-feedback-freetext {
    padding-top: 10px;
}

.onestepcheckout-feedback select {
    width: 100%;
    height: 30px;
}

.onestepcheckout-feedback-freetext textarea {
    width: 100%;
}

.onestepcheckout-coupon-code-notice {
}

#control_overlay {
    background-color: #000;
}

.oscmodal {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #333;
}

#addressreview {
    width: 750px;
    min-height: 430px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #E9EAEE;
    border: 2px solid white;
    padding: 15px 40px 20px 40px;
    margin: 0 auto;
    text-align: left;
    box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    position: relative;
}

#addressreview .leftcol {
    float: left;
    width: 200px;
}

#addressreview .rightcol {
    float: left;
    width: 540px;
}

#addressreview h4 {
    padding-top: 15px;
    padding-bottom: 3px;
    font-size: 16px;
}

#addressreview #buttons {
    position: absolute;
    right: 40px;
    bottom: 20px;
}

#addressreview #buttons div {
    float: left;
    zoom: 1;
    margin: 0 10px 0 10px;
}

#addressreview_summary div.data {
    height: 375px;
    overflow-y: auto;
    padding-right: 2px;
}

.checkout-agreements li {
    margin: 0;
}

.checkout-agreements .agree {
    margin: 0;
    padding: 0;
}

.agreement-content {
    overflow: auto;
    text-align: left;
    /*width: 300px;*/
    height: auto;
    background: #fff;
    border: 1px solid #c0c0c0;
    padding: 30px 15px 15px;
    position: relative;
}
.popup_wrapper .agreement-content{
    width: 94%;
    max-width: 670px;
}

.checkout-agreements-show{
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.agreement-content p.close a{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 0;
    display: block;
}
.agreement-content p.close a:hover{
    background: #39c;
}
.agreement-content p.close a:before{
    width: 100%;
    height: 100%;
    position: absolute;;
    top: 0;
    left: 0;
    text-align: center;
    content: "x";
    color: #39c;
    line-height: 15px;
    font-size: 14px;
    font-family: tahoma;
}
.agreement-content p.close a:hover:before{
    color: #fff;
}
label.required:after, span.required:after {
    content: '' !important;
}

span.required {
    color: #F00;
}

#onestepcheckout-login-popup_background,
#onestepcheckout-toc-popup_background {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

#onestepcheckout-login-popup_wrapper,
#onestepcheckout-toc-popup_wrapper {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

#onestepcheckout-login-popup,
#onestepcheckout-toc-popup {
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    transition: all 1s ease-in;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(600px) rotateX(20deg);
    -moz-transform: translateZ(600px) rotateX(20deg);
    -ms-transform: translateZ(600px) rotateX(20deg);
    transform: translateZ(600px) rotateX(20deg);
}

.popup_visible #onestepcheckout-login-popup,
.popup_visible #onestepcheckout-toc-popup {
    -webkit-transform: translateZ(0px) rotateX(0deg);
    -moz-transform: translateZ(0px) rotateX(0deg);
    -ms-transform: translateZ(0px) rotateX(0deg);
    transform: translateZ(0px) rotateX(0deg);
}
#onestepcheckout-login-table li,
#onestepcheckout-forgot-table li{
    margin: 10px 0;
}
#onestepcheckout-login-table li label{
    width: 100px;
}

/* Responsive styles */

@media only screen and (min-width: 916px) and (max-width: 1199px) {
    /*div.checkoutcontainer div.input-country select {
        width: 91%!important;
    }

    .onestepcheckout-threecolumns div.onestepcheckout-column-middle {
        margin: 21px 0px 0px 0px !important;
        padding: 0px !important;
    }

    div.checkoutcontainer div.input-region {
        width: 55.8%!important;
    }

    div.checkoutcontainer div.input-address-short .input-text,
    div.checkoutcontainer div.input-firstname .input-text,
    div.checkoutcontainer div.input-lastname .input-text,
    div.checkoutcontainer div.input-email .input-text,
    div.checkoutcontainer div.input-telephone .input-text,
    div.checkoutcontainer div.input-company .input-text,
    div.checkoutcontainer div.input-fax .input-text,
    div.checkoutcontainer div.input-password .input-text {
        width: 85%!important;
    }

    div.checkoutcontainer div.input-address .input-text, div.checkoutcontainer div.input-city .input-text {
        width: 91%;
    }

    div.checkoutcontainer div.input-region .input-text {
        width: 93%;
    }*/

    .v-fix {
        margin-right: 5%;
    }
}

@media only screen and (min-width: 651px) and (max-width: 915px) {
    div.checkoutcontainer div.input-address-short .input-text,
    div.checkoutcontainer div.input-firstname .input-text,
    div.checkoutcontainer div.input-lastname .input-text,
    div.checkoutcontainer div.input-email .input-text,
    div.checkoutcontainer div.input-telephone .input-text,
    div.checkoutcontainer div.input-company .input-text,
    div.checkoutcontainer div.input-fax .input-text,
    div.checkoutcontainer div.input-password .input-text ,
    div.checkoutcontainer div.input-company .input-text {
        /*width: 85%!important;*/
    }

    div.wrapper {
        min-width: 581px;
    }

    div.onestepcheckout-enable-newsletter {
 width: 77%!important;
}

div.checkoutcontainer div.input-address .input-text, div.checkoutcontainer div.input-city .input-text, div.checkoutcontainer div.input-country select {
    /*width: 91%;*/
}

.onestepcheckout-threecolumns div.onestepcheckout-column-left {
    width: 45%!important;
    background: none!important;
    margin-bottom: 18px;
}

.onestepcheckout-threecolumns div.onestepcheckout-column-middle {
    width: 45%!important;
    background: none!important;
    float: right;
    background: transparent url(../images/line-gradient.gif) no-repeat scroll right top;
    padding: 0 15px 0 !important;
    margin: 0 !mportant;
}

.onestepcheckout-threecolumns div.onestepcheckout-column-right {
    width: 100%!important;
    border-top: 1px solid #D8D2C7;
}

div.checkoutcontainer li.taxvat div.input-box {
    width: 42%!important;
}

div.checkoutcontainer div.input-region .input-text {
    width: 86%;
}

div.wrapper {
    min-width: 500px;
}

div.main {
    width: auto;
    max-width: 915px;
}
}

@media only screen and (min-width: 320px) and (max-width: 650px) {
    .onestepcheckout-threecolumns input[type="email"],
    .onestepcheckout-threecolumns input[type="search"],
    .onestepcheckout-threecolumns input[type="number"],
    .onestepcheckout-threecolumns input[type="password"],
    .onestepcheckout-threecolumns input[type="tel"],
    .onestepcheckout-threecolumns input[type="text"]{
        width: 100%;
    }
    div.checkoutcontainer {
        border-top: none;
    }

    .onestepcheckout-threecolumns div.onestepcheckout-column-left {
        width: 95%!important;
        background: none!important;
    }

    .onestepcheckout-threecolumns div.onestepcheckout-column-middle {
        width: 95%!important;
        background: none!important;
        margin-top: 20px!important;
        float: left!important;
    }

    .onestepcheckout-threecolumns div.onestepcheckout-column-right {
        width: 95%!important;
        float: left !important;
        margin-top: 20px!important;
    }

    div.checkoutcontainer div.input-box, div.checkoutcontainer .input-text , div.checkoutcontainer select {
        width: 100% !important;
        float: none !important;
    }
    .qty-wrapper input[type="text"]{
        width: 30px!important;
    }
    .payment-methods {
        margin-bottom: 5px;
    }

    table.onestepcheckout-summary {
        width: 100%!important;
    }

    table.onestepcheckout-totals {
        width: 100%!important;
    }

    .onestepcheckout-coupons input#id_couponcode {
        width: 100%!important;
        margin-bottom: 5px;
    }

    div.checkoutcontainer div.onestepcheckout-summary,
    div.checkoutcontainer div.onestepcheckout-coupons,
    div.checkoutcontainer div.onestepcheckout-place-order-wrapper {
        margin-left: 0;
    }

    #onestepcheckout-place-order {
        width: 90%!important;
    }

    #addressreview {
        width: 85%!important;
        padding: 10px 10px 10px 10px !important;
    }

    #addressreview_summary div.data {
        height: 275px;
    }

    #addressreview .leftcol {
        width: 100%!important;
    }

    #addressreview .rightcol {
        width: 100%!important;
    }

    .large.onestepcheckout-button {
        margin-top: 8px;
    }

    div.wrapper {
        min-width: 320px;
    }

    div.main {
        width: auto;
        max-width: 499px;
    }
    #onestepcheckout-form .group-select{
        padding: 0!important;
    }
    .onestepcheckout-summary th, .onestepcheckout-summary, .onestepcheckout-summary td, .onestepcheckout-totals td{
        font-size: 11px;
    }
    .onestepcheckout-summary td.image img{
        width: 50px;
        height: auto;
    }
}

/* End of responsive design */