ul{list-style: none !important;}
.top-link-cart {	display:none; }
.breadcrumbs {	display:none; }

.deal {
	margin:0 0 20px 0;
    background:#FFFFFF url(../../../images/bkg_product-view.gif) no-repeat scroll 100% 0;
	border:1px solid #C4C6C8;
}
.deal h1 {
    color: #454545;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 4px;
    padding-left: 20px;
    padding-top: 15px;
}

.deal-info-top  {padding:8px; }
	
.deal-sub-title h2{
    color: #FFFFFF;
}

.deal-info .leftcol{	float:left;	width:220px; }
.deal-info .rightcol{float:right;	width:430px; }
.deal-info .rightcol .media{ }
 
.deal-info .rightcol .info{	margin-top:10px; }
.deal-info .rightcol .info .fineprint{float:left;	width:210px; }
.deal-info .rightcol .info .highlight{float:right;width:230px; }
.deal .price_tag {
    height: 92px;
    margin-left: -67px;
    padding-top: 15px;
    position: relative;
    width: 287px;
    z-index: 10;
}
.deal .price_tag_inner {
    background: url(../images/dd/price_tag.png) no-repeat scroll ;
    height: 91px;
    width: 297px;
}
.deal .amount {
    color: white;
    font-size: 32px;
    font-weight: bold;
    left: 70px;
    line-height: 1em;
    position: absolute;
    top: 38px;
    z-index: 1;
}

.deal .btn_buy {
    margin-left: 200px;
    padding-top: 18px;
}

.deal_btn_buy{
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    background: none repeat scroll 0 0 #7FB93C;
    border: medium none;
    color: #fff;
    font: 12px/15px Arial,Helvetica,sans-serif;
    margin-left: 8px;
    margin-top: 5px;
    padding: 3px 14px;
    vertical-align: middle;
	cursor:pointer;
}
.deal_btn_buy:hover{
	background: none repeat scroll 0 0 #40B6D1;
}

/*******************Discounts and savings **************************************/

.deal .deal_discount {
    margin-top: -12px;
    padding: 10px 0;
    position: relative;
    z-index: 5;
}

.deal .deal_discount dl {
    float: left;
    font-weight: bold;
    text-align: center;
    width: 70px;
}
.deal .deal_discount dl dt {
    font-size: 1.2em;
}	
.deal .deal_discount dl dd {
    font-size: 1.4em;
    line-height: 1em;
}

.deal .deal_discount dl dt, .deal_discount dl dd {
    color: #294054;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
}
.deal_discount dl dd {
    color: #C76200;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
}

/********* GiftAdeal ***************/

.deal .for_a_friend {
    background: none repeat scroll 0 0 #CFEEF6;
    border: 1px solid #64C8E2;
    padding: 5px 0 0;
    position: relative;
    text-align: center;
}

.deal .for_a_friend .icon_gift {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    padding-left: 35px;
}

/*********** Tipometer *******/
.deal .tipometer {
    height: 50px;
    margin: 10px 0 5px 10px;
    position: relative;
    width: 198px;
}

.deal  .tipometer .tipping_point {
    background: url("../images/dd/tipping_point.gif") no-repeat scroll left top transparent;
    height: 13px;
    left: 45px;
    position: absolute;
    top: 0;
    width: 14px;
    z-index: 2;
}


.deal .tipometer .progress_bar {
    background: url("../images/dd/tipometer_bg.gif") no-repeat scroll left top transparent;
    float: left;
    height: 15px;
    padding: 0 2px;
    position: absolute;
    top: 15px;
    width: 198px;
}

.deal .tipometer .progress_bar .pre_tipped.left_end_cap {
    background: url("../images/dd/not_empty_pre_tipped.gif") no-repeat scroll left top transparent;
    width: 4px;
}


.deal .tipometer .progress_bar .pre_tipped {
    background: url("../images/dd/pre_tipped.gif") no-repeat scroll right top transparent;
    float: left;
    height: 7px;
    margin-top: 2px;
}

.deal .tipometer span {
    font-size: 1.8em;
    font-weight: bold;
    height: 18px;
    position: absolute;
    top: 28px;
    width: 50px;
}

.deal .tipometer span.min {
    left: 0;
    text-align: left;
}
.deal .tipometer span.max {
    right: 0;
    text-align: right;
}

.deal .tipping-on {
    background: url("../images/dd/deal_is_on.png") no-repeat scroll left center transparent;
    height: 30px;
    line-height: 30px;
    margin-left: 15px;
    padding-left: 15px;
    text-align: center;	
}

.deal .tipping-on span.number{
	
}


/* *************** share ****************** */

.share {
    margin-top: 14px;
}

.share .share-title {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 4px;
}


/* ***************bought***************** */
.deal .bought {
    background: none repeat scroll 0 0 #DDEDCC;
    border: 1px solid #98C267;
    padding: 5px 0 0;
    position: relative;
    text-align: center;
}

.deal .bought h3 {
    background: url("../images/dd/bought.png") no-repeat scroll 20px 0 transparent;
    font-size: 21px;
    font-weight: bold;
}

/**************** Timer *************************/
.deal .remaining_time{margin-top:10px;height:90px;}
p.timer_text {
    color: #294054;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 1px;
    text-align: center;
}
.timercontainer{position:relative;}
.timercontainer span {
    color:#000;
	width: 59px;
    font-size:16px;
	font-weight:bold;
	display: block;
	line-height: 34px;
	text-align: center;
	position: absolute;
	top: 0;
}
.timercontainer span.days { left:30px; }
.timercontainer span.hours { left:80px; }
.timercontainer span.minutes { left:105px; }
.timercontainer span.seconds { left:128px; }



/********** tabs ***************/
.deal-tabs{ margin: 0 auto;  width: auto;}
.info-tabs { border-bottom: 3px solid #4ABEDA;   margin: 15px 0 0 0 !important; padding: 0 !important;  overflow: hidden;}
.info-tabs li {
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    background: none repeat scroll 0 0 #CFEEF6;
    border-right: 1px solid #FFFFFF;
    float: left;
    font-size: 14px;
    line-height: 1em;
}

.info-tabs li a {
    color: #444444;
    display: block;
    margin-right: 1px;
    padding: 8px 21px;
    text-decoration: none;
}

.info-tabs  li.active a, .info-tabs li.active a:hover {
    border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    background: none repeat scroll 0 0 #4ABEDA;
    color: #fff;
}
.product-tabs-content{
	padding:10px;
	border:1px solid #4ABEDA;
	border-top:0px;
	border-radius:0 0 10px 10px;
	-webkit-border-radius:0 0 10px 10px;
    -moz-border-radius:0 0 10px 10px;
}

.product-tabs-content .deal_location {
    float: left;
    width: 220px;
	height: 300px;
	overflow: hidden;
}

.product-tabs-content .deal_location_map {
    float: right;
    overflow: hidden;
    width: 400px;
	height: 300px;
}



/* *********************Side Deals******************* */
.side_deal_leftcol{	float: left; }
.side_deal_rightcol{ float: right; }

.sidebar  .side-deals li{	border-bottom: 2px solid #DDEDCD;	padding: 10px;}
.sidebar  .side-deals li.last{	border-bottom:none; }

.sidebar  .side-deals .actual_amount span{ padding:0 5px; }
.sidebar  .side-deals .amount {
    background: url("../images/dd/side-deals-pricetag.png") no-repeat scroll 0 0 #5EBFDA;
    color: #FFFFFF;
    font-size: 18px;
    height: 23px;
    padding-left: 18px;
    line-height: 23px;
}
.sidebar  .side-deals .actual_amount {
    background-color: #CFEEF6;
    border-bottom: 1px solid #54C2DC;
    border-left: 1px solid #54C2DC;
    border-right: 1px solid #54C2DC;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    margin-left: 9px;
    text-align: center;
}

/*********** Header menu *******/

#header-nav li a {
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    overflow: hidden;
    padding: 13px 0;
    text-decoration: none;
}
#header-nav li a:hover {
    background: none repeat scroll 0 0 #000000;
}

#header-nav li a span {
    border-right: 1px solid #FFFFFF;
    padding: 16px;
}


/******** City Switcher **********/

.select-city {
    border: 0 none;
    color: #FFFFFF;
    display: block;
    font-weight: normal;
    margin: 5px 0;
    padding: 3px;
    position: absolute;
    text-decoration: none;
}
.select-city ul.citymenu {
    background: none repeat scroll 0 0 #333;
    color: #fff;
    left: -10000px;
    padding: 4px 0;
    position: absolute;
    text-align: left;
    width: 635px;
    z-index: 1000;
}
.select-city ul li {
    float: left;
    width: 125px;
}
.city-switcher div.over > ul.citymenu {
    left: 0;
}
.select-city ul li a {
    color: #f1f1f1;
    display: block;
    font-weight: normal;
    margin: 0;
    padding: 4px 7px 4px 15px;
    text-decoration: none;
    text-align: center;
    width: auto;
	letter-spacing:1px;
}
.select-city ul li a:hover {
	background:#484848;
	font-weight:bold;
	color:#fff;
}

.selected-city {
    background: url("../images/dd/down-arrow.png") no-repeat scroll right 17px transparent;
    color: #000000;
    display: block;
    font-size: 24px;
    font-weight: bold;
    padding-right: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

/****************** Language Select *********************/
.header .links {
    float: right;
    margin: 0 0 3px;
}

.header .form-language {
    clear: both;
    padding: 3px 0 0;
    text-align: right;
}
.header .form-language label {
    color: #FFFFFF;
    font-weight: bold;
    padding-right: 5px;
    vertical-align: middle;
}

/**************** Upcoming, Recent Products Grid *******************/

.col2-left-layout .products-grid, .col2-right-layout .products-grid {
    margin: 0 auto;
    width: 675px;
	background:none
}

.col1-layout .products-grid {
    background: none repeat scroll 0 0 transparent;
    border-bottom: medium none;
    margin: 10px auto;
    width: 935px;
}

.products-grid li.item {
    border: 1px solid #DDDDDD;
    float: left;
    margin-right: 10px;
    padding: 5px 5px 30px;
    width: 190px;
}

.products-grid .price_tag table{
	width:150px;
	border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.products-grid .price_tag table td{
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.products-grid .price_tag table span{
	padding:0 10px;
}

/****************** Styling for GiftADeal****************************/
#gift_detail {
    background: url("../images/dd/bkg_checkout.gif") repeat-x scroll 0 0 #FBFAF6;
    border-color: #BEBCB7 -moz-use-text-color -moz-use-text-color;
    border-style: solid none none;
    border-width: 1px 0 0;
    height: 80px;
    padding: 10px 20px;
}
#gift_detail_close {
    background: url("../images/dd/close_grey.gif") no-repeat scroll 625px 0 transparent;
    cursor: pointer;
    height: 20px;
}

#gift_detail h3 {
    margin-left: 15px;
	border-bottom: 1px solid #E4E4E4;
    font-size: 13px;
    padding-bottom: 2px;
    text-transform: uppercase;
}

#gift_to_friend{
    margin-left: 15px;
}
/************** friend popup form *********************/
#friend_popup{
    background: none repeat scroll 0 0 transparent;
    height: auto;
    left: 397px;
    padding-top: 0;
    position: fixed;
    top: 110px;
    z-index: 1002;
}

.friend_popup_top{
    background: url("../images/dd/bg-popup-top-green.png") no-repeat scroll 0 8px transparent;
    height: 22px;
    width: 550px;
}

.friend_popup_close{
    background: url("../images/dd/close-large.png") no-repeat scroll right 0 transparent;
    height: 26px;
	cursor: pointer;
}

.friend_header{
    background: none repeat scroll 0 0 #DDEDCC;
    border-left: 3px solid #87B156;
    border-right: 3px solid #87B156;
    width: 544px;
	text-align: center;
}

.friend_header h1{
    font-weight: bold;
}

#process{
    background: url("../images/dd/progress.gif") no-repeat scroll 0 0 transparent;
    height: 50px;
}

.friend_form{
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 3px solid #87B156;
    border-right: 3px solid #87B156;
    margin-top: -10px;
    width: 544px;
	height: 210px;
}

.section1 {
    height: 195px;
    padding-left: 10px;
    padding-top: 10px;
    width: 238px;
}
.section2 {
    float: right;
    height: 195px;
    margin-top: -195px;
    width: 280px;
}

.input{
    display: block;
    width: 98%;
    border: 1px solid #CACACA;
    font-size: 1.2em;
    padding: 3px;
}

.text_counter{
    height: 130px;
}

#gifttofriend_form  button.button {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    padding: 0;
    width: auto;
	margin: 15px 0 0 12px;
}

#gifttofriend_form  button.button span {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #87B156;
    color: #000000;
    display: block;
    font: bold 12px/19px Arial,Helvetica,sans-serif;
    height: 19px;
    padding: 0 15px;
    text-align: center;
    white-space: nowrap;
}

#gifttofriend_form button.button span span {
    border: 0 none;
    padding: 0;
}
.friend_footer{
    background: none repeat scroll 0 0 #DDEDCC;
    border-left: 3px solid #87B156;
    border-right: 3px solid #87B156;
    width: 544px;
	height:30px;
	padding-top: 10px;
}

.friend_popup_bottom{
    background: url("../images/dd/bg-popup-btm-green.png") no-repeat scroll 0 0 transparent;
    height: 14px;
    width: 550px;
}
/*****************************************************/
/**************** gift a friend **********************/

#gift_a_deal {
    background:#D1DBDF;
    border: medium none;
    height: 29px;
    line-height: 29px;
    margin-bottom: 10px;
    text-align: center;
}

 #gift_a_deal  .icon_gift {
	background: url("../images/dd/gift.gif") no-repeat scroll 8px 6px transparent;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 35px;
    padding-left: 45px;
}
/******************************************************/


/********************* All Deals **********************/
.all_deals .all_featured_deal .deal-img{
	float:left;
}
.all_deals .all_featured_deal .deal-info{
    float: left;
    margin-left: 20px;
    width: 450px;
}
.all_deals .all_featured_deal h2{
	font-size:16px;
}
.all_deals .all_featured_deal .featured-deal{
	float:left;
	padding:10px;
	margin-bottom:15px;
	box-shadow: 1px 2px 3px 0 #CCCCCC;
	-moz-box-shadow: 1px 2px 3px 0 #CCCCCC;
	-webkit-box-shadow: 1px 2px 3px 0 #CCCCCC;
    background-color: #EBEBEB;
    background-image: -moz-linear-gradient(center top , #FAFAFA 0%, #EBEBEB 100%);
    border: 1px solid #CCCCCC;
}
.all_deals .special_deal{
	margin-bottom:15px;
}

.all_deals .products-grid {
    background: none;
    margin: 0 auto;
    width: 935px;
	border-bottom:none;
}

.products-grid li.item {
    border: 1px solid #DDDDDD;
    float: left;
    margin-right: 10px;
    padding: 5px 5px 30px;
    width: 270px;
}

.all_deals .special_deal .products-grid li,.all_deals .lastminute_deal .products-grid li{
	float:left;
	padding:10px;
	margin-bottom:15px;
	box-shadow: 1px 2px 3px 0 #CCCCCC;
	-moz-box-shadow: 1px 2px 3px 0 #CCCCCC;
	-webkit-box-shadow: 1px 2px 3px 0 #CCCCCC;
    background-color: #EBEBEB;
    background-image: -moz-linear-gradient(center top , #FAFAFA 0%, #EBEBEB 100%);
    border: 1px solid #CCCCCC;
}

.col-main #newsletter_subscription{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    height: 250px;
    left: 330px;
    position: fixed;
    top: 100px;
    width: 650px;
    z-index: 10000;
}
.col-main #newsletter_subscription #close {
    height: 20px;
}
.col-main #newsletter_subscription #close img {
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -10px;
}
.col-main #newsletter_subscription h1 {
    color: #83B252;
    font-size: 24px;
    font-weight: normal;
    margin: 5px 0 0 180px;
}
.col-main #newsletter_subscription .section1 {
    height: 45px;
    padding-left: 10px;
    padding-top: 10px;
    width: 240px;
}
.col-main #newsletter_subscription .section2 {
    height: 45px;
    position: absolute;
    right: 90px;
    top: 262px;
    width: 240px;
}
.col-main #newsletter_subscription #newsletter_subscription_form .button {
    -moz-border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    background-color: #FF8C29;
    background-image: -moz-linear-gradient(center top , #FFC240, #FF8C29);
    border-color: #FF9933 #F27900 #F27900 #FF9933;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font: bold 12px/1 Helvetica,sans-serif;
    margin: 10px;
    overflow: visible;
    padding: 5px 15px 6px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    width: auto;
}

.col-main #newsletter_subscription #newsletter_subscription_form  .button:hover {
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background-color: #FFB515;
    background-image: -moz-linear-gradient(center top , #FF8C29, #FF8C29);
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.col-main #newsletter_subscription #newsletter_subscription_form  button.button span {
    background: none;
    border: none;
}


/********************** merchant coupon info view******************/
.my-account{
    min-height: 560px;
}

.my-account .merchant_deal_view{
    border-bottom: 1px solid #E4E4E4;
    border-top: 1px solid #E4E4E4;
    min-height: 690px;
    margin-top: 10px;
}
.my-account .merchant_deal_view .print_link{
	float:right;
    margin-top: 10px;
}
.my-account .merchant_deal_view .deal_info{
    min-height: 255px;
    margin-top: 10px;
    width: 700px;
}

.my-account .merchant_deal_view .deal_info .deal_img{
    float: left;
    width: 325px;
}

.my-account .merchant_deal_view .deal_info .deal_content{
    float: right;
    margin-top: 30px;
    width: 325px;
}

.my-account .merchant_deal_view .deal_info .deal_content h1{
    font-size: 26px;
}

.my-account .merchant_deal_view .deal_table{
    margin-top: 30px;
}
.my-account .merchant_deal_view .back_url{
	margin-top:20px;
}
/************************************************************************/


/******************** Checkout Tab1 Tab2 ********************************/
.gift-coupon{
    border-color: -moz-use-text-color #BBAFA0 #BBAFA0;
    border-right: 1px solid #BBAFA0;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    float: left;
    width: 694px;
}

.coupon-tab .step-title, .gift-tab .step-title {
    background: none repeat scroll 0 0 #F9F3E3;
    border-top: 1px solid #BBAFA0;
    color: #F18200;
    cursor: default;
    padding: 4px 8px 5px;
}
.coupon-tab .step-title h2, .gift-tab .step-title h2{
    font: bold 13px/16px Arial,Helvetica,sans-serif;
    color: #F18200;
	margin:0;
}
.cart .coupon-tab .discount{
    background: url("../images/dd/bkg_checkout.gif") repeat-x scroll 0 0 #FBFAF6;
    border:1px solid #D0CBC1;
    border-left: 0 none;
    border-right: 0 none;
    float: left;
    margin: 0 0 18px;
    padding: 12px 15px;
    height: 100px;
    width: 316px;
}
.cart .coupon-tab #discount-coupon-form .discount{
	border-left:1px solid #D0CBC1;
}
.coupon-tab #shopping-cart-totals-table{
	clear:both;
    float: right;
    padding: 0 20px 20px;
}
.coupon-tab #shopping-cart-totals-table .price{
	margin-left:10px;
}

#content1 #gift_detail h3 {
    background-image: url("../images/dd/i_discount.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #E26703;
    font: bold 13px/16px Arial,Helvetica,sans-serif;
    padding: 0 0 0 21px;
    text-transform: uppercase;
}

#gift_detail_close {
    background: url("../images/dd/close_grey.gif") no-repeat scroll 670px 0 transparent;
}

#gift_detail {
    padding: 5px 0;
}

/********************************** Gift In Checkout Page *********************************/
#gift_detail {
    background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #BEBCB7;
    height: 20px;
    width: 693px;
}
#gift_detail_close {
    background: url("../images/dd/close_grey.gif") no-repeat scroll right 0 transparent;
    float: right;
    position: relative;
    right: 5px;
    width: 16px;
}
.coupon{
    border: 1px solid #DDDDDD;
	border-top:0px;
    float: left;
    padding: 10px;
    width: 673px;
}
.cart .discount, .cart .shipping {
    background: none;
    border: 0;
    float: left;
    margin: 0;
    padding: 0;
}
.cart .discount h2, .cart .shipping h2 {
	padding-left:0px;
}
.cart .totals {
    background: none;
    border:none;
    float: right;
    width: 50%;
}
.cart .discount h2{
    color: #DE0179;
    padding-left: 0;
	display:none;
}
#discount{
	height:25px;
}
#discount span{
    color: #1E7EC8;
    cursor: pointer;
    float: left;
    font: 13px/16px Arial,Helvetica,sans-serif;
    margin-left: 13px;
    padding-top: 5px;
}
.coupon {
    border:none;
    float: left;
    height: 75px;
    padding: 0 0 0 10px;
    width: 250px;
}
.checkout-onepage-index .page-title {
	display:none;
}
.cart .coupon .discount input.input-text {
    width: 210px;
}
.cart .coupon .discount .input-box {
    margin: 4px 0 0;
    width: 220px;
}
.discount_coupons{
	height:140px;
}

.products-grid li.item{
    background-color: #EBEBEB;
    background-image: -moz-linear-gradient(center top , #FBFBFB 0%, #EBEBEB 100%);
    border: 1px solid #CCCCCC;
    box-shadow: 1px 2px 3px #CCCCCC;
    float: left;
    margin: 0 12px 12px 0;
    padding: 10px;
    width: 278px;
}
.products-grid li.last{
	margin-right:0px;
}

.products-grid .product-name a{
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.products-grid .product-name a:hover{
    text-decoration: underline;
}

.products-grid .product-image {
    background:#FFFFFF;
    border: 1px solid #DFDFDF;
    display: block;
    height: 160px;
    margin: 0 0 10px;
    padding: 5px;
    text-align: center;
    width: 264px;
}

.products-grid .actions {
    bottom: 2px;
    position: relative;
}

button:button {
    background-image: -moz-linear-gradient(center top , #80C1D8, #369EC1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
}


/*************** order coupon *****************/
.order-coupon{
	border-top: 1px solid #E4E4E4;
	margin-top: 10px;
}
.order-coupon .coupon-top{
	margin-top: 13px;
	height:60px;
}
.order-coupon .coupon-heading{
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	float: left;
	width: 640px;
}
.order-coupon .coupon-top .coupon-print-link{
	float: left;
	margin-top: 10px;
}
.order-coupon .coupon-content .coupon-images{
	float: left;
	width: 310px;
}
.order-coupon .coupon-content .coupon-details{
	border: 1px solid #E4E4E4;
	float: left;
	line-height: 26px;
	padding: 15px;
	width: 330px;
}

/*********** to friend ***************/
#gift_detail #gift_data p span{
	margin-left: 18px;
}
#gift_detail #gift_data p a{
	margin-left: 5px;
}

/******** merchant/redeemed ****************/
#coupon_details #coupon_title{
    border-bottom: 1px solid #ccc;
    height: 35px;
    margin-bottom: 20px;
    text-align: center;
}
#coupon_details #coupon_details{
    margin-top: 10px;
    min-height: 350px;
    width: 720px;
}
#coupon_details #coupon_image{
    float: left;
    width: 320px;
}
#coupon_details #coupon_info{
    float: right;
    width: 340px;
}
#redeemed_form{
    height: 120px;
	margin-top: 30px;
}
#redeemed_form #redeem_code{
	width: 285px;
}

/****************** Customer/coupon.phtml ******************/
.customer-coupons .coupon-details {
	margin-top: 10px;
	height:260px;
}
.customer-coupons .coupon-details .print-link{
	float: right;
}
.customer-coupons .coupon-details .coupon-img{
	float: left;
	width: 310px;
}
.customer-coupons .coupon-details .coupon-content{
	float: left;
	line-height: 26px;
	padding: 15px;
	width: 320px;
}


/************ merchant/view.phtml *******************/
.merchant-view #head_block{
    height: 22px;
}
.merchant-view #head_title{
    float: left;
    width: 100px;
}
.merchant-view #head_print{
    float: right;
    width: 60px;
}

.grid table.border {
    border: 1px solid #CBD3D4 !important;
}

.grid tr.headings {
    background: url("../images/dd/sort_row_bg.gif") repeat-x scroll 0 50% transparent;
}
.grid tr.headings th {
    border-color: #F9F9F9 #D1CFCF #F9F9F9 #F9F9F9;
    border-style: solid;
    border-width: 1px;
    font-size: 0.9em;
    padding-bottom: 0;
    padding-top: 1px;
}
.grid tr.headings th.last {
    border-right: 0 none;
}
.grid tr.headings th.no-link {
    color: #67767E;
    padding-bottom: 1px;
    padding-top: 2px;
}
.grid tr.headings th span.nobr {
    display: block;
}
.grid tr.headings th a {
    color: #2D444F;
    display: block;
    padding: 2px 4px 1px 0;
    text-decoration: none;
}
.grid tr.headings th a:hover {
    color: #D85909;
    text-decoration: none;
}
.grid tr.headings th a.sort-arrow-desc, .grid tr.headings th a.sort-arrow-asc {
    background: url("images/dd/sort_on_bg.gif") no-repeat scroll 0 0 transparent;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding-bottom: 2px;
}
.grid tr.headings th span.sort-title {
    display: block;
    line-height: 1;
    padding: 3px 12px 4px 0;
}
.grid tr.headings th a.sort-arrow-desc span.sort-title, .grid tr.headings th a.sort-arrow-asc span.sort-title {
    background-position: right 50%;
    background-repeat: no-repeat;
    padding: 3px 12px 2px 8px;
}
.grid tr.headings th a.sort-arrow-desc span.sort-title {
    background-image: url("images/dd/grid_sort_desc.gif");
}
.grid tr.headings th a.sort-arrow-asc span.sort-title {
    background-image: url("images/dd/grid_sort_asc.gif");
}
.massaction {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("images/dd/massaction_bg.gif") repeat-x scroll 0 100% #EBEBEB;
    border-color: #D1CFCF #D1CFCF -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    font-size: 0.9em;
    height: 26px;
    width: 100%;
}
.massaction td {
    border-top: 1px solid #FFFFFF;
    padding: 1px 8px;
    vertical-align: middle;
    width: 50%;
}
.massaction .entry-edit fieldset .select {
    display: inline;
    width: auto;
}
.massaction .entry-edit fieldset select.validation-failed {
    background: none repeat scroll 0 0 #FAEBE7 !important;
    border: 1px dashed #EB340A !important;
}
.massaction .entry-edit fieldset {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin: 0;
    padding: 0;
}
.massaction .entry-edit fieldset .field-row {
    display: inline;
}
.massaction .entry-edit .field-row label {
    float: none;
    margin-left: 13px;
    width: auto;
}
.massaction .entry-edit {
    margin: 0 !important;
    padding: 0;
}
.massaction .entry-edit .validation-advice {
    display: none !important;
}
.massaction a {
    text-decoration: none;
}
.massaction .entry-edit fieldset span.form_row, .massaction .entry-edit fieldset span.field-row {
    clear: none !important;
    display: inline;
    float: left !important;
    margin: 0;
    padding: 0 5px 0 0;
}
.massaction .entry-edit .outer-span {
    float: left;
}
.grid tr.filter {
    background: url("images/dd/filter_row_bg.gif") repeat-x scroll 0 0 #E3EFF1;
    cursor: default;
}
.grid tr.filter th {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #BDBDBD;
    border-style: solid;
    border-width: 0 1px 1px 0;
    padding-bottom: 5px;
    padding-top: 5px;
    white-space: normal;
}
.grid tr.filter th.last {
    border-right: 0 none;
}
.grid tr.filter input.input-text {
    width: 85%;
}
.grid tr.filter select {
    width: 100%;
}
.grid tr.filter .range .range-line {
    margin-bottom: 3px;
    width: 100px;
}
.grid tr.filter .range div.date {
    min-width: 121px;
}
.grid tr.filter .range input {
    float: right;
    margin-top: 0;
    width: 50px !important;
}
.grid tr.filter .range select {
    float: right;
    margin-top: 0;
    width: 56px !important;
}
.grid tr.filter .range .label {
    display: block;
    float: left;
    padding-left: 2px;
    width: 36px;
}
.grid tr.filter .date img {
    cursor: pointer;
    height: 15px;
    vertical-align: middle;
    width: 15px;
}
.grid .head-massaction select {
    width: 50px !important;
}
.grid table tfoot tr {
    background: none repeat scroll 0 0 #D7E5EF;
}
.grid table tfoot tr td {
    background: none repeat scroll 0 0 #E5ECF2;
    border-top: 1px solid #9BABB9;
    line-height: 1.7em;
}
.grid table.border tfoot tr td {
    background: none repeat scroll 0 0 #D7E5EF !important;
}

.grid table.border td {
    background: none repeat scroll 0 0 #FFFFFF !important;
}
.grid table td {
    border-color: #DADFE0;
    border-style: solid;
    border-width: 0 1px 1px 0;
}
.grid th, .grid td {
    padding: 2px 4px;
}
.uploader .file-row {
    background-color: #F9F9F9;
    border: 1px solid #CCCCCC;
    margin: 0.5em 0.6em;
    padding: 0.5em 0.6em;
    width: 600px;
}
.uploader .file-row .file-info {
    float: left;
}
.uploader .file-row .delete-button {
    float: right;
}
button.cancel, button.delete {
    background-color: #FCAF81;
    background-image: url("../images/dd/cancel_btn_bg.gif");
    border-color: #D24403 #A92000 #A92000 #D24403;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
	cursor:pointer;
}

button.cancel span, button.delete span {
    background-image: url("../images/dd/cancel_btn_icon.gif");
}

button.cancel span, button.delete span, button.save span, button.add span, button.back span, button.add-image span, button.add-widget span {
    padding-left: 20px;
}

button span {
    background-position: 0 50%;
    background-repeat: no-repeat;
    line-height: 1.35em;
}

.uploader .file-row .progress-text {
    float: right;
    font-weight: bold;
}

/********************************************************************************/

/************************* dailydeals/merchant/history ************************/
#add-product{
    background: url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #F6A828;
    border: 1px solid #E78F08;
    height: 25px;
    left: 635px;
    position: relative;	
    border-bottom: 0 none;
    border-radius: 5px 5px 0 0;
    color: #000000;
    display: block;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    width: 75px;	
	font-weight:bold;
	}
	
#add-product:hover{
	color:#fff;
}	
/*******************************************************************************/
/****************************** dailydeals/merchant/product/new *****************/
#merchant_product_form label {float: left; }
#merchant_product_form label.error { float: none; color: red; padding-left: .5em; vertical-align: top;font-style: italic; font-size:10px; }
#merchant_product_form .submit {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #F6A828;
    border-color: #E78F08 #E78F08 -moz-use-text-color;
    border-radius: 5px 5px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    cursor: pointer;
    height: 25px;
    left: 635px;
    position: relative;
    width: 60px;
    color: #000000;
    font-weight: bold;
    padding-top: 1px;
}
	
#merchant_product_form #product-history{
    color: #000000;
    display: block;
    height: 22px;
    left: 570px;
    padding-top: 2px;
    text-align: center;
    text-decoration: none;
    top: 25px;
	font-weight:bold;
	}
#merchant_product_form #product-history:hover{
	color:#fff;
}	
#merchant_product_form .submit:hover{
	color:#fff;
}
#tabs .label{
	padding-right:25px;
}
#tabs .value{
	padding-bottom:15px;
}
#product_images_tab{
	padding:0px;
}
/********************************************************************************/
/********************* dailydeals/merchant/product/edit *************************/
#merchant_product_form label {float: left; }
#merchant_product_form label.error { float: none; color: red; padding-left: .5em; vertical-align: top;font-style: italic; font-size:10px; }
#merchant_product_form .submit {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #F6A828;
    border-color: #E78F08 #E78F08 -moz-use-text-color;
    border-radius: 5px 5px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    cursor: pointer;
    height: 25px;
    left: 635px;
    position: relative;
    width: 60px;
    color: #000000;
    font-weight: bold;
    padding-top: 1px;
}
	
#merchant_product_form #product-history{
    color: #000000;
    display: block;
    height: 22px;
    left: 570px;
    padding-top: 2px;
    text-align: center;
    text-decoration: none;
    top: 25px;
	font-weight:bold;
	}
	
#merchant_product_form #product-history:hover{
	color:red;
}	
#merchant_product_form .submit:hover{
	color:red;
}	
#tabs .label{
	padding-right:25px;
}
#tabs .value{
	padding-bottom:15px;
}

.grid {
    border-bottom: 0 none;
    padding-bottom: 0.5em;
}
#product_images_tab{
	padding:0px;
}

/************************************* configurable product options popup ************************************************************/
#config_options{
	left: 500px;
	top:30%;
	bottom:10%;
	z-index: 1002;
	position:fixed;
	height:500px;
	width:491px;
	overflow: auto;
}
#config_options_background {
	background: none repeat scroll 0 0 #000000;
	height: 1000px;
	left: 0;
	opacity: 0.5;
	position: fixed;
	top: 0;
	width: 1585px;
	z-index: 1001;
}
#config_options_top{
	background:url('../images/dd/config_options_bg.png') no-repeat scroll 0 0 transparent;
	padding:8px 13px 0 27px;
	height:auto;

}

#config_options_bottom{
	background:url('../images/dd/config_options_bottom_bg.png') no-repeat scroll 0 0 transparent;
	height:13px;

}

#config_options .config_options_block{

}

#config_options .heading{
	border-bottom: 1px solid #DDEACF;
	padding: 0 10px;
}

#config_options .heading h1{
	font-size:28px;
}

#config_options .content{
	margin-top:10px;
}
.config_options_block table.pledges {
	width: 100%;
}
.config_options_block table.pledges tr.even {
	background-color: #F0F2F1;
}
.config_options_block table.pledges tr.odd {
	background-color: #FFFFFF;
}
.config_options_block table.pledges tr td.description {
	text-align: left;
}

.config_options_block table.pledges tr td {
	padding: 5px 5px 5px 10px;
}

.config_options_block table.pledges tr td.description a.title {
	font-size: 1.4em;
	font-weight: bold;
	line-height: 16px;
	color:#0185C6;
}
.config_options_block table.pledges tr td.status {
	color: #666666;
	text-align: right;
	width: 100px;
}
.config_options_block table.pledges tr td.status div {
	font-size: 1.4em;
	line-height: 1.2;
}
.config_options_block table.pledges tr td.purchase {
	text-align: center;
	width: 80px;
}

.config_options_block table.pledges tr.even td.purchase a.buy_button {
	background: url("../images/dd/multideal_option_price_greybg.jpg") no-repeat scroll right center transparent;
}
.config_options_block table.pledges tr.odd td.purchase a.buy_button {
	background: url("../images/dd/multideal_option_price_whitebg.jpg") no-repeat scroll right center transparent;
}
.config_options_block table.pledges tr td.purchase a.buy_button {
	border-left: 2px solid #CCCCCC;
	color: #FFFFFF;
	display: block;
	height: 34px;
	line-height: 1.8;
	margin: auto;
	padding-left: 5px;
	text-decoration: none;
	width: 75px;
}

.config_options_block table.pledges tr td.purchase a.buy_button span.buy span {
	font-size: 10px;
}
.config_options_block table.pledges tr td.purchase a.buy_button span.buy {
	font-size: 16px;
}

.config_options_block table.pledges tr td.purchase a.buy_button span {
	vertical-align: middle;
}

.footer .footer-info {
    float: left;
    line-height: 16px;
    padding-top: 5px;
}
.footer .footer-info dl {
    background: url("../images/BgFooterList.png") no-repeat scroll right center transparent;
    float: left;
    font-size: 12px;
    list-style-type: none;
    margin: 0 1px 0 0;
    min-height: 130px;
    padding: 0;
    text-align: left;
    width: 185px;
}

.footer .footer-info dt {
    color: #C7155C;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 10px 0 5px 30px;
}

.footer .footer-info dd {
    background-image: url("../images/dd/FooterBullet.png");
    background-position: 30px 0.4em;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0 10px 0 30px;
}

.footer a {
    color: #FFFFFF;
    text-decoration: none;
}


.mobile-theme-banner {
    background: url("../images/paypal_icon.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 137px;
    margin-right: 25px;
    margin-top: 10px;
    width: 304px;
}
.footer address {
    color: #ECF3F6;
    margin: 40px 0 0 0;
}
.footer{
	padding-bottom: 30px;
}
.deal .btn_finished {
    background: url("../images/disabled.png") no-repeat scroll left top transparent;
    color: #C8E4EB;
    font-size: 19px;
    font-weight: bold;
    height: 67px;
    left: 128px;
    line-height: 1;
    padding-top: 16px;
    position: absolute;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    top: 6px;
    width: 143px;
}
.products-grid .product-name {
    height: 20px;
    margin: 0 0 7px;
    overflow: hidden;
}
.content-symbolicdeal{background:#e7f1f4;border-radius:5px 5px 5px 5px;padding-bottom:10px;}

.price_tag_inner button.button span {
    background:#F18200;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    display: block;
    font-family: Impact;
    font-size: 20px;
    font-weight: normal;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    text-align: center;
    white-space: nowrap;
}
.price_tag_inner button.button span span {
    background: none!important;
    border:none !important;
    padding: 0 !important;
}
.info .short-description h2 {
    color: #70808D;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.deal-tabs{margin-top:25px;border-top:1px solid #e5dcc3;background:#faf7ee;} 

.description-content {
    float: left;
    width: 478px;
}
#Reviews-content {
    background:#FFFFFF;
    border-left: 1px solid #E5DCC3;
    float: right;
    width: 202px;
}
.product_tabs_description_contents{background:#faf7ee;padding:20px;} 
.product_tabs_description_contents h2 {
    border-bottom: 1px solid #E5DCC3;
    color: #CA6C10;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 3px;
}
.product_tabs_description_contents .rating-box{margin-bottom:7px;}
.product_tabs_description_contents a{font-size:12px;color:#294054;font-weight:bold;margin-bottom:6px;text-decoration:none;}
.product_tabs_description_contents .date{display:block;text-align:right;font-weight:Bold;font-size:11px;color:#294054;font-style:Italic;} 
#Reviews-content .product_tabs_description_contents {
    background:#FFFFFF;
}
.1-product-tabs {
    clear: both;
    padding-left: 0 !important;
    overflow: hidden;
    position: relative;
}
.deal_discount dd {
    padding-left: 0 !important;
}