.view_price{
    margin-top: 5px !important;
    padding: 5px 0 !important;
}
.view_price1{float:left;}
.view_price p{margin:0; text-align: left;}
.clear_both{clear:both; display:block;}
.product_box {
  background: url("images/assets/footer_bg.jpg") repeat scroll 0 0 transparent;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.timer {
    height: 106px;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    padding-left: 20px;
    position: relative;
    width: 330px;
    z-index: 10;
}
.timer .cd {
    background: url("images/assets/footer_bg.jpg") repeat scroll 0 0 transparent;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 10px 20px -10px #000000;
    color: #FFFFFF;
    float: left;
    font-family: 'Istok Web',sans-serif;
    font-size: 46px;
    height: 96px;
    margin-left: 30px;
    margin-bottom: 145px;
    text-align: center;
    width: 70px;
}
.timer .small {
  font-size: 14px;
  text-align: center;
}
.color-style, p.dropcap_color-style:first-letter {
  color: #2CA8E1;
}

/*============================================*/
.counter ul.countdown{
	list-style-type: none;
	color: #4a4949;
	text-align: center;
	width:100%;
	margin: 0px auto;
	text-align: center;
}
.counter ul.countdown li{display: inline-table; margin: 0px 3px 0px 0px;}
.counter ul.countdown li.first{}
.counter ul.countdown li.last{ margin: 0px;}
.counter ul.countdown li div{text-transform: uppercase; clear: both;text-align:center;width:100%;}
.counter ul.countdown li div.countdown_num{font-size: 32px; color: #fff; margin: 0px 0px 3px 0px;}
.counter ul.countdown li div.countdown_num span{background: #000; padding: 5px 8px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; margin: 0px 1px;}

.sidebar .block-todaydeal{border: 1px solid #c0c0c0;  -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;background: none; margin: 15px 0;background: #fff;}
.block-todaydeal .title h3{line-height:34px; padding:0 !important; color: #fff; font-family: verdana,arial; font-size: 17px; font-weight: normal;}
.block-todaydeal .title {
    background-color: #39c;
    height: 34px;
    overflow: hidden;
    padding: 0;
    text-align: center;
}
.block-todaydeal .block-content{
	padding: 7px 7px 0px !important;
}
.block-todaydeal .block-content p.product-name{
	margin-bottom: 5px;
}
.block-todaydeal .block-content a.product-name{
	font-weight: bold;
	color: #203548;
	text-decoration: none;
	font-size: 12px;
}
.block-todaydeal .block-content a.product-name:hover{
	text-decoration: underline;
}
.block-todaydeal .mini-products-list{
	margin-bottom: 10px;
}
.block-todaydeal .mini-products-list .product-image {
    border: 1px solid #d3d3d3;
    float: left;
    width: 70px;
	background:none;
	padding:0;
	margin:0;
}
.block-todaydeal .mini-products-list .product-details {
    margin-left: 80px;
}
.block-todaydeal .old-price .price{
	color: #999;
	font-size: 12px;
	font-weight: bold;
}
.block-todaydeal .special-price .price{
	color: #ff0000;
	font-size: 16px;
	font-weight: bold;
}
span.deal-qty{
	color: #2f2f2f;
	font-weight: bold;
}

.block-todaydeal .counter{
	clear: both;
	border-top: 1px solid #d3d3d3;	
	margin: 0px -7px;
	padding: 7px;
	 -webkit-border-radius:0px 0px 5px 5px; -moz-border-radius:0px 0px 5px 5px; border-radius:0px 0px 5px 5px;
}
.block-todaydeal .counter ul.countdown{
	list-style-type: none;
	color: #4a4949;
	font-size: 9px;
	text-transform: uppercase;
	font-weight: normal;
	padding: 0px;
	width:100%;
	text-align: center;
}
	
.block-todaydeal .counter ul.countdown li{
	background: none;
	height: auto;
    margin: 0 3px;
	overflow: hidden;
    width: 47px;
    min-width: 0;
    padding: 0 0 5px;
    text-align: center;
}
.block-todaydeal .counter ul.countdown li.last{
}
.block-todaydeal .counter ul.countdown li.first{
}
.block-todaydeal .counter ul.countdown li div{
	font-size: 10px;
	margin: 0px;
	width:100%;
	text-align:center;
	clear: both;
}
.block-todaydeal .counter ul.countdown li div.countdown_num{
	font-size: 20px;
}
.block-todaydeal .counter ul.countdown li div.countdown_num span{}
.block-todaydeal .counter ul.countdown li.no_countdown{
	padding-top:4px;
	background:transparent;
	height:110px;
	width:180px;
}
.block-todaydeal  button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
.block-todaydeal  button.button { padding: 0 7px;}

.clear{
	clear: both;
	height: 1px;
	overflow: hidden;
}
/*Tab*/
.tab-deal li a {
	float: left;
	font-weight: bold; 
	color: #0a263c;
	font-size: 12px;
	text-decoration: none;
}
.tab-deal li a span {
	display: block; 
	height: 31px; 
	background: url(images/bkg-left-tab.gif) no-repeat top left; 
	padding: 0px 0px 0px 15px;
	line-height: 29px;
}
.tab-deal li a span span {
	background: url(images/bkg-right-tab.gif) no-repeat top right; 
	padding: 0px 15px 0px 0px;
}
.tab-deal li.active a,
.tab-deal li a:hover{
	color: #fff;
}
.tab-deal li.active a span ,
.tab-deal li a:hover span{
	background-color: #3b5871;
	background-image: linear-gradient(to bottom, #3b5871, #0A263D);
	background-image: -webkit-linear-gradient(to bottom, #3b5871, #0A263D);
	background-image:    -moz-linear-gradient(to bottom, #3b5871, #0A263D);
	background-image:     -ms-linear-gradient(to bottom, #3b5871, #0A263D);
	background-image:      -o-linear-gradient(to bottom, #3b5871, #0A263D);
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	text-align: center;
}
.tab-deal li.active a span span ,
.tab-deal li a:hover span span{
	background: none; 
	border-radius: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
}
/*SYMBOLIC*/
 .symbolic{
 	margin-left: 12px;
	clear: both;
	border: 1px solid #d3d3d3;
	background: #fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding: 10px 10px 5px 10px;
	width:81%;
}
 .symbolic ul.countdown{
	list-style-type: none;
	color: #4a4949;
	font-size: 9px;
	text-transform: uppercase;
	font-weight: normal;
	padding: 0px;
	width:100%;
	clear:both;
}
 .symbolic ul.countdown li{
	float: left;
	background: none;
	width: 36%;
	height: auto;
	margin: 0px 0px 0px 0px;
	text-align:center;
}
 .symbolic ul.countdown li.last{
	/*margin: 0px 0px 0xp 5px;*/
 	/*width:auto !important;*/
 	float:right;
	width:32%;
}
 .symbolic ul.countdown li.first{
	/*width:auto !important;*/
 	width:32%;
}
 .symbolic ul.countdown li div{
	font-size: 9px;
	margin: 0px;
	width:100%;
	/*text-align:left;*/
}
.symbolic_clear{clear:both;}
.symbolic ul.countdown li div.countdown_num{
	font-size: 27px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	margin: 0px 0px 2px 0px;
	/*float:left;*/
	width:100%;
	text-align:center;
}
 .symbolic ul.countdown li div.countdown_num span{
 	display:inline-block;
	background: url(images/bkg-counter-small.gif) repeat-x top left;
	/*float:left;*/
	vertical-align: middle;
	width: 24px;
	height: 31px;
	line-height: 31px;

}
 .symbolic ul.countdown li.no_countdown{
	padding-top:4px;
	background:transparent;
	height:110px;
	width:180px;
}
.dailydeal-qty-box{clear: both; padding: 0 0 10px; text-align: center;}
.dailydeal-qty-box .deal-qty{color: red; font-size: 12px; font-weight: bold;}
.dailydeal-qty-box-active{padding-left: 0px;font-size: 11px; float: left}
.deal_qty .deal-qty{color: red; font-size: 12px; font-weight: bold;}
.deal-qty{color: #c76200; font-size: 12px; font-weight: bold;}
.deal-qty-one{color: red; font-size: 12px; font-weight: bold;}
.deal-qty-red{color: red; font-size: 12px; font-weight: bold;}
.dld_coming_date{}
.deal-time{color: #ff0000; font-size: 13px; font-weight: bold;}
.deal-date{display: block;}

/* block active deals**********************************************************/
.sidebar .block-deals{border: 0px none;  -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; box-shadow: 0 0 3px #3B5871; -moz-box-shadow: 0 0 3px #3B5871; -webkit-box-shadow: 0 0 3px #3B5871; background: none; margin-bottom: 5px;}
.block-deals .block-title-act{ background-color: #3b5871; 	background-image: linear-gradient(to bottom, #3b5871, #0A263D);
	background-image: -webkit-linear-gradient(to bottom, #3b5871, #0A263D);
	background-image:    -moz-linear-gradient(to bottom, #3b5871, #0A263D);
	background-image:     -ms-linear-gradient(to bottom, #3b5871, #0A263D);
	background-image:      -o-linear-gradient(to bottom, #3b5871, #0A263D); border-radius: 5px 5px 0px 0px; -webkit-border-radius:5px 5px 0px 0px;	-moz-border-radius:5px 5px 0px 0px; border-bottom: 0px none; height: 34px;  overflow: hidden; padding: 0; text-align: center;}
.block-deals .block-title-act strong{line-height:34px; padding:0 !important; color: #fff; font-family: verdana,arial; font-size: 17px; font-weight: normal; text-transform: capitalize;}
.sidebar .block-deals .block-content{	background: #e7f1f4; -webkit-border-radius:0px 0px 5px 5px;	-moz-border-radius:0px 0px 5px 5px; border-radius:0px 0px 5px 5px; padding: 0px;}
.block-deals .block-content li.item{border-bottom: 1px solid #D3D3D3; padding: 7px 9px;}
.block-deals li.odd{background: #e7f1f4;}
.block-deals li.even{background: #fff;}
.block-deals .block-content p.product-name{margin-bottom: 5px;}
.block-deals .block-content p.product-name a{font-weight: bold; color: #203548; text-decoration: none; font-size: 12px;}
.block-deals .block-content p.product-name a:hover{text-decoration: underline;}
.block-deals  .mini-products-list .product-image{border: 1px solid #d3d3d3; float: left; width: 70px; background:none; padding:0; margin:0;}
.block-deals  .mini-products-list .product-details {margin-left: 80px;}
.block-deals .price-box{margin: 0px 0px;}
.block-deals  .old-price .price{color: #999;font-size: 12px; font-weight: bold;}
.block-deals  .special-price .price{color: #ff0000; font-size: 16px; font-weight: bold;}
.sidebar .block-deals .actions{background: none; -webkit-border-radius:0px 0px 5px 5px; -moz-border-radius:0px 0px 5px 5px; border-radius:0px 0px 5px 5px; margin: 0px; padding: 1px 9px 6px;}
.block-deals.actions a{color: #203548;}
.block-deals  button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
.block-deals  button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
.block-deals  button.button { overflow:visible; width:auto; border:0; padding:0; margin:0; background:transparent; cursor:pointer; }
.block-deals  button.button span { display:block; height:19px; border:1px solid #de5400; background:#f18200; padding:0 8px; font:bold 12px/19px Arial, Helvetica, sans-serif; text-align:center; white-space:nowrap; color:#fff; text-transform: capitalize; }
.block-deals  button.button span span { border:0; padding:0; }

/* ===========================================================================*/


/* daily deal category page ==================================================*/
.product-essential{position: relative;}
.pro_dld{position: relative;}
.products-list li.item{position: relative;}
.dld_display_cate{clear: both;background: #f4f4f4;}
.dld_img_sale{position: absolute; top: 15px; left: 15px; z-index: 10; background: url(../images/sale.png) no-repeat; width: 81px; height: 80px;padding: 19px;}
.dld_img_sale label{font-size: 23px; color: #FFF;}
.products-list li.item .dld_img_sale{top: 10px; left: 10px;}
.products-grid li.item .dld_img_sale{top: 0px; left: 0px;}
.dld_category{margin: 5px 0px; padding: 5px 0px; text-align: center; }
.dld_category .counter{font-size: 14px; overflow: hidden;}
.dld_category .counter ul.countdown li{min-width: 0;background: none;padding: 0 4px 4px;width: 40px;margin: 0;}
.dld_category .counter ul.countdown li div{display: inline-table; margin: 0;font-size: 8px;}
.dld_category .counter ul.countdown li div.countdown_num{color: #ff0000; font-weight: bold; margin: 0px;font-size: 14px;}
.dld_mess_cate span.deal-qty{color: #ff0000;}
.products-grid .actions .dld_coming_date{width: 138px;}
.products-grid .item .actions{position: static;}

/* ===========================================================================*/

.dld_detail{text-align: center; padding: 0px 0px; clear: both; font-style: normal;}
.dld_detail ul li{display:  inline-table; margin: 0px 10px;}
.dld_detail ul li span{display: block; font-style: normal; font-weight: bold;} 
.dld_detail ul li span.dld_detail_num{color: #ff0000; font-weight: bold; font-size: 20px;}
.block-todaydeal .dld_detail{padding: 10px 0px 0px 0px;}
.block-todaydeal .dld_detail ul li{margin: 0px 3px;font-size: 12px;}
.block-todaydeal .dld_detail ul li span.dld_detail_num{font-size: 14px;}

.dld_coming_date{margin: 5px 0px; padding: 5px 0px; border-bottom: 1px dotted #333; border-top: 1px dotted #333; clear: both;}

.from-price {margin: 0px;}
.from-price span{display: block;}
.from-price .price{color: #ff0000; font-size: 16px; font-weight: bold;}
.block .from-price .regular-price .price{color: #ff0000;}

/*style for ie*/
.block-todaydeal,
.block-deals-cal,
.block-deals,
.deal-product {border: 1px solid #3b5871 \9;}

.deal-product{
    padding: 0px 0px 0px 0px;
    margin: 15px 0px;
    clear: both;
    background: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;
}
.ct-deal-pro{
    background: #fff; 
    text-align: center; 
    padding: 10px 10px 0px 10px;
    -webkit-border-radius:0px 0px 5px 5px; 
    -moz-border-radius:0px 0px 5px 5px; 
    border-radius:0px 0px 5px 5px;
}
.deal-product .catalogproductview {
    background: #39c;
    min-height: 40px;
    text-align: center;
}
.deal-product .catalogproductview h3{
    color: white;
    padding:0; 
    margin:0; 
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
}

/*COUNTER SPECIFIC STYLES */
.counter ul.countdown{
    list-style-type: none;
    color: #4a4949;
    text-align: center;
    width:100%;
    margin: 0px auto;
    text-align: center;
}
.counter ul.countdown li{display: inline-block;min-width: 70px; margin: 0 10px;padding: 0 10px 10px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;border: 1px solid #e7e7e7;box-shadow: 0 2px 3px #eee;-moz-box-shadow: 0 2px 3px #eee;-webkit-box-shadow: 0 2px 3px #eee;
    background: #f7f7f7; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7f7f7 0%, #e8e8e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7f7f7 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7f7f7 0%,#e8e8e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7f7f7 0%,#e8e8e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f7f7f7 0%,#e8e8e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */

}
.counter ul.countdown li.first{}
.counter ul.countdown li.last{ margin: 0px;}
.counter ul.countdown li div{text-transform: uppercase; clear: both;text-align:center;width:100%;font-size: 10px;font-weight: bold;color: #aaa;text-shadow: 1px 1px #fff;letter-spacing: -0.5px;}
.counter ul.countdown li div.countdown_num{font-size: 32px; color: #636363; margin: 0px 0px 3px 0px;text-shadow: none;letter-spacing: 0;}
.counter ul.countdown li div.countdown_num span{padding: 0;margin: 0;background: none;color: #39c;}
.qty-deal{background: #e7f1f4; border-top: 1px solid #D3D3D3; position: relative; margin: 10px -10px 0; padding: 10px 10px 15px; -webkit-border-radius:0px 0px 5px 5px; -moz-border-radius:0px 0px 5px 5px; border-radius:0px 0px 5px 5px; font-size: 15px;}
.qty-deal span{font-style: italic;}
.qty-deal span.deal-qty{font-size: 15px; color: red;}
.qty-deal strong{background: none; padding: 0px; color: #f1cc00; font-weight: bold;}
.counter ul.countdown li.no_countdown{
    padding-top:4px;
    background:transparent;
    height:110px;
    width:80px;
}

/***** Subscription popup *****/
#subscription_popup {
    text-align:left;
    background: #FFF;
    padding: 15px;
    border-radius: 5px;
    -webkit-transition: all 2s ease-in;
    -moz-transition: all 2s ease-in;
    transition: all 2s ease-in;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(600px) rotateX(20deg);
    -moz-transform: translateZ(600px) rotateX(20deg);
    -ms-transform: translateZ(600px) rotateX(20deg);
    transform: translateZ(600px) rotateX(20deg);
}
#subscription_popup_background {
    -webkit-transition: all 2s;
       -moz-transition: all 2s;
            transition: all 2s;
}
#subscription_popup_wrapper {
    -webkit-transition: all 2s;
       -moz-transition: all 2s;
            transition: all 2s;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}
.popup_visible #subscription_popup {
    -webkit-transform: translateZ(0px) rotateX(0deg);
    -moz-transform: translateZ(0px) rotateX(0deg);
    -ms-transform: translateZ(0px) rotateX(0deg);
    transform: translateZ(0px) rotateX(0deg);
}
#subscribe-form-ajax {
    width:48px;
    height:29px;
    margin: 0 auto;
    background:url(../images/ajax-loader.gif) top left no-repeat;
    z-index:999;
}
#newsletter-subscription-popup {position: fixed; width: 300px; box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); background: #FFFFFF; padding:20px; border-radius:5px;}
#newsletter-subscription-popup .dailydeal-subscription-popup {display:block; position:relative;}
#newsletter-subscription-popup .dailydeal-subscription-popup .close-popup{position:absolute; top:-40px; right:-40px;}
#newsletter-subscription-popup .dailydeal-subscription-popup p.intro-msg{color: #FD9000; font-weight: bold; font-size:13px;}
#newsletter-subscription-popup .dailydeal-subscription-popup .input-box {width:100%; float:left; margin:0 0 6px;}
#newsletter-subscription-popup .dailydeal-subscription-popup .input-box .validation-advice{margin-left:70px;}
#newsletter-subscription-popup .dailydeal-subscription-popup .input-box label{min-width:70px; float:left; font-weight:bold; color:#666666}
#newsletter-subscription-popup .dailydeal-subscription-popup .input-box input.input-text {float:left; width:220px; margin:0 0 3px;}
#newsletter-subscription-popup .dailydeal-subscription-popup .actions {clear:both; padding-top:15px; }
#subscription_popup #subscribe-result-message {font-weight:bold; text-align:center;}
#subscription_popup #subscribe-result-message.error {color:#EB340A;}
#subscription_popup #subscribe-result-message.success {color:#EB340A;}
@media (max-width: 480px) and (orientation:portrait){
    .form-list .input-box{width:194px;}
    .form-list input.input-text{width:190px;}
}

@media screen and (min-width: 771px) and (max-width: 900px) {
    .counter ul.countdown li{margin: 0 1px;padding: 0 6px 6px;}
    .counter ul.countdown li:first-child{margin-left: 0;}
    .counter ul.countdown li:last-child{margin-right: 0;margin-left: 2px;}
}

@media screen and (max-width: 479px) {
    .counter ul.countdown li{margin: 0 1px;min-width: 60px;padding: 0 5px 5px;}
    .counter ul.countdown li div{font-size: 8px;}
    .counter ul.countdown li div.countdown_num{font-size: 18px;}
    .dld_detail ul li{font-size: 12px;margin: 0 8px;}
    .qty-deal span{font-size: 12px;}
    .dld_detail ul li .dld_detail_num span{font-size: 20px;}
}