<div class="page-title">
  	<span class="delivery-bg"></span><h1><?php echo $this->__('Delivery Date');?></h1>
</div>
<div class="shipping-option">	
	<ul>
	<?php if($this->config['asap_option']): ?>
		<li>
			<label>
				<input type="radio" name="deliverydate" class="deliverytime" value="now" checked="checked" />
				<span><?php echo $this->__('As soon as possible');?></span>
			</label>
		</li>
	<?php endif; ?>
		<li>
			<label>
				<input type="radio" name="deliverydate" class="deliverytime delivery-later" value="late" />
				<span><?php echo $this->__('Select preferred time'); ?></span>
			</label>
			<div id="deliveryshow">
				<input type="hidden" id="weekend-day" value="<?php echo $this->config['disable_weekend_day'] ?>" />
				<input type="text" id="datetimepicker" name="delivery_date"/>
			</div>
		</li>
	</ul>
	<?php 
		$_disableTimes = $this->config['holidays'];
		if ($_disableTimes):
			foreach ($_disableTimes as $key => $day):				
	?>
	<input class="onestep-disable-day" type="hidden" day="<?php echo $day['day'] ?>" month="<?php echo $day['month'] ?>" year="<?php echo $day['year'] ?>" />
	<?php
			endforeach;
		endif;
	?>
</div>
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery('.deliverytime').click(function() {
		if(jQuery(this).hasClass('delivery-later')){
			jQuery('#deliveryshow').show();
		} else {
			jQuery('#deliveryshow').hide();
		}
	});
	
	if(jQuery('#weekend-day').val() == "0"){
	    jQuery('#datetimepicker').datetimepicker({
	    	step: 30,
	    	minDate: 0
	    });
	} else {
		jQuery('#datetimepicker').datetimepicker({	    	
	    	onGenerate:function(){
			    jQuery(this).find('.xdsoft_date.xdsoft_weekend').addClass('xdsoft_disabled');
			    jQuery('.onestep-disable-day').each(function() {
			    	var day 	= jQuery(this).attr('day'),
			    		month 	= jQuery(this).attr('month'),
			    		year  	= jQuery(this).attr('year');			    	
			    	jQuery('.xdsoft_datetimepicker').find('.xdsoft_date[data-year="'+year+'"][data-month="'+month+'"][data-date="'+day+'"]').addClass('xdsoft_disabled');
			    });
			},
			step: 30,
	    	minDate: 0
	    });
	}
});
</script>