<?php
$_coreHelper = $this->helper('core');
$checkoutHelper = Mage::helper('onestepcheckout/checkout');
?>
<script type="text/javascript">
//<![CDATA[
var total = <?php echo $this->getGrandTotal();?>;
    if(payment.reloadcallback){
        var url = '<?php echo $this->getUrl('onestepcheckout/ajax/paymentrefresh', array('_secure'=>true)); ?>';
        paymentrefresh(url);
        payment.countreload = 0;
        payment.reloadcallback = false;
    }

var checkout_func;
Event.observe(window, 'load', function() {
    var options = {
        remove_url: '<?php echo $this->getUrl('onestepcheckout/cart/removeProduct', array('_secure'=>true)); ?>',
        updateqty_url: '<?php echo $this->getUrl('onestepcheckout/cart/updateQty', array('_secure'=>true)); ?>',        
    };
    checkout_func = new Checkout(options);    
});
//]]>
</script>
<table class="onestepcheckout-summary">
    <thead>
        <tr>
            <?php if($checkoutHelper->settings['activate_remove_product']): ?>
            <th class="remove"></th>
            <?php endif; ?>
            <?php if($checkoutHelper->settings['show_product_img']): ?>
            <th class="image"><?php echo $this->__('Image'); ?></th>
            <?php endif; ?>
            <th class="name"><?php echo $this->__('Product'); ?></th>
            <th class="qty"><?php echo $this->__('Qty'); ?></th>
            <th class="total"><?php echo $this->__('Subtotal'); ?></th>
        </tr>
    </thead>
    <?php foreach($this->getItems() as $item): ?>
    <tr>
        <?php if($checkoutHelper->settings['activate_remove_product']): ?>
        <td class="remove">        
            <a href="javascript:void(0);" title="<?php echo $this->__('Remove')?>" class="btn-remove" onclick="checkout_func.removeProduct('<?php echo $item->getId()?>');">
                <?php echo $this->__('Remove')?>
            </a>
        </td>
        <?php endif; ?>
        
        <?php if($checkoutHelper->settings['show_product_img']): ?>   
        <td class="image">  
            <a href="<?php echo $item->getProduct()->getProductUrl() ?>" title="<?php echo $item->getName() ?>">  
                <img src="<?php echo Mage::helper('catalog/image')->init($item->getProduct(), 'small_image')->resize(100); ?>" width="100" height="100" alt="<?php echo $item->getName() ?>" title="<?php echo $item->getName() ?>" />
            </a> 
        <?php endif; ?>
        </td>
        <td class="name">
            <a href="<?php echo $item->getProduct()->getProductUrl() ?>" title="<?php echo $item->getName() ?>">  
            <?php echo $item->getName(); ?>
            </a> 
            <?php if($checkoutHelper->settings['show_custom_options']): ?>
                <?php $options = $item->getProduct()->getTypeInstance(true)->getOrderOptions($item->getProduct()); ?>
                <?php if(isset($options['options']) && count($options['options']) > 0): ?>
                <ul class="onestepcheckout-custom-options">
                <?php foreach($options['options'] as $option): ?>
                    <li><b><?php echo $option['label'] . ':</b> ' . $option['value']; ?></li>
                <?php endforeach; ?>
                </ul>
                <?php endif; ?>

                <?php if($item->getProduct()->isConfigurable()): ?>

                <?php $configurable_options = $item->getProduct()->getTypeInstance(true)->getSelectedAttributesInfo($item->getProduct());  ?>

                <?php if(is_array($configurable_options) && count($configurable_options) > 0): ?>
                <ul class="onestepcheckout-custom-options">
                <?php foreach($configurable_options as $option): ?>
                    <li><b><?php echo $option['label']; ?>:</b> <?php echo $option['value']; ?></li>
                <?php endforeach; ?>
                </ul>
                <?php endif; ?>

                <?php endif; ?>

            <?php endif; ?>
        </td>
        <td class="qty">
            <div class="qty-wrapper">
                <?php if($checkoutHelper->settings['activate_update_qty']): ?>
                <button type="button" class="qty-less" onclick="checkout_func.updateQty(<?php echo $item->getId();?>,'less')">-</button>
                <?php endif; ?>            
                <input type="text" value="<?php echo $item->getQty() ?>" name="cart[<?php echo $item->getId(); ?>][qty]" title="<?php echo $this->__('Qty') ?>" class="input-text onestep-product-qty" disabled="true" />
                <?php if($checkoutHelper->settings['activate_update_qty']): ?>
                <button type="button" class="qty-more" onclick="checkout_func.updateQty(<?php echo $item->getId();?>,'more')">+</button>
                <?php endif; ?>
            </div>            
        </td>
        <td class="total">
            <?php if($checkoutHelper->settings['display_tax_included']): ?>
            <?php echo $this->helper('checkout')->formatPrice($this->helper('checkout')->getSubtotalInclTax($item)); ?>
            <?php else: ?>
            <?php echo $this->helper('checkout')->formatPrice($item->getRowTotal()); ?>
            <?php endif; ?>
        </td>
    </tr>
    <?php endforeach; ?>
</table>

<table class="onestepcheckout-totals">
    <?php foreach($this->getTotals() as $total): ?>
    <?php if(!$total->getTitle()){continue;}?>
        <?php
        $fullInfo = $total->getFullInfo();

        if(!empty($fullInfo) && $checkoutHelper->settings['display_full_tax']):
            foreach ($fullInfo as $info):
                $rates = current($info['rates']);
                $amount = $info['amount'];
        ?>
            <tr>
                <td class="title"><?php echo $rates['title'] ?> (<?php echo $rates['percent'] ?>%)</td><td class="value"><?php echo $this->helper('checkout')->formatPrice($amount); ?></td>
            </tr>
        <?php endforeach;
        endif;?>
    <tr<?php if($total->getCode() == 'grand_total'): ?> class="grand-total"<?php endif; ?>>
        <td class="title">
            <?php

            $code = $total->getCode();
            $value = $total->getValue();

            if($code == 'subtotal')    {
                $total_name = $this->__('Subtotal');
            }
            elseif($code == 'shipping')    {
                $total_name = $this->__('Shipping');
                if($checkoutHelper->settings['display_tax_included'])   {
                    $value += $this->getQuote()->getShippingAddress()->getShippingTaxAmount();
                }
                            }
            elseif($code == 'grand_total')    {
                $total_name = $this->__('Grand total');
            }
            else    {
                $total_name = $total->getTitle();
            }

            echo $total_name;

            ?>
        </td>
        <td class="value">
            <?php echo $this->helper('checkout')->formatPrice($value); ?>
        </td>
    </tr>
    <?php endforeach; ?>
</table>