<?php
	$_coreHelper = $this->helper('core');
	$_taxHelper  = $this->helper('tax');
    $_comingdealsCollection=$this->getComingdeals();
    $_helper = $this->helper('catalog/output');
 	$outputFormat = Mage::app()->getLocale()->getDateTimeFormat(Mage_Core_Model_Locale::FORMAT_TYPE_LONG);    
?>
<?php if(!$_comingdealsCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="category-products">
    <?php echo $this->getToolbarHtml() ?>
    <?php // List mode ?>
    <?php if($this->getMode()!='grid'): ?>
    <?php $_iterator = 0; ?>
    <ol class="products-list" id="products-list">
    <?php foreach ($_comingdealsCollection as $_comingdeal): ?>
    <?php 
    $_id = $_comingdeal->getId();
    $dealqty = $_comingdeal->getDealQty();
    $_product = Mage::getModel('catalog/product')->load($_comingdeal->getProductId());?>
        <li class="item<?php if( ++$_iterator == sizeof($_comingdealsCollection) ): ?> last<?php endif; ?>">
            <?php // Product Image ?>
             <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
			<?php // Product description ?>
			<div class="product-shop">
				<div class="f-fix">
					<?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
					<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?></a></h2>
					<?php if ($_product->getRatingSummary()): ?>
						<?php echo $this->getReviewsSummaryHtml($_product) ?>
					<?php endif; ?>
					<?php // echo $this->getPriceHtml($_product, true) ?>
                    
                    <?php
                            $_coreHelper = $this->helper('core');
                            $_taxHelper = $this->helper('tax');
                            $_regularPrice = $_taxHelper->getPrice($_product, $_product->getPrice());
                            $_finalPrice = $_comingdeal->getDailydealPrice();
                            ?>
                            
                            <?php if($_comingdeal->checkDealPrice($_product)){ ?>
                                <p class="old-price" >
                                <?php echo Mage::helper('dailydeal')->__('Regular Price:'); ?>
                                <span class="regular-price" id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>-related">
                                    <span class="price"><?php echo $_coreHelper->currency($_regularPrice, true, false) ?></span>
                                </span>
                            </p>        
                            <p class="special-price">
                                <span class="price" id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                                    <?php echo Mage::helper('dailydeal')->__('Special Price:'); ?>
                                    <?php echo $_coreHelper->currency($_finalPrice, true, false) ?>
                                </span>
                            </p>
                            <?php }else{
                                $_comingdeal->setMinPriceFollowProductType($_product);?>
                            <p class="special-price">
                                <span class="price" id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                                    <?php echo Mage::helper('dailydeal')->__('Special Price:'); ?>
            <?php echo $_coreHelper->currency($_product->getData('min_price'), true, false) ?>
                                </span>
                            </p>
                                
                            <?php } ?>

					<?php /*----- display daily deal -----*/ ?>
					<?php $startdatetime= strtotime($_comingdeal->getStartDateTime()); ?>
					<div class="dld_coming_date">
						<?php echo Mage::helper('dailydeal')->__('Deal starts at: <span class="deal-time">%s</span><h4 class="deal-time">%s</h4>',date(' H:i',$startdatetime), date(' d F, Y',$startdatetime)); ?> 
					</div>
					<?php /*----- end display daily deal -----*/ ?>
					<div class="desc std">
						<?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
						<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
					</div>
				</div>
			</div>
        </li>
    <?php endforeach; ?>
    </ol>
    <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>

    <?php else: ?>

    <?php // Grid Mode ?>

    <?php 
    	$_collectionSize = $_comingdealsCollection->count(); 
    	$columncount = Mage::getStoreConfig('dailydeal/general/columncount');
        $_columnCount = $columncount ? $columncount : 3; 
    ?>
    <?php $i=0; foreach ($_comingdealsCollection as $_comingdeal): ?>
    <?php
        $_id = $_comingdeal->getId();
        $dealqty = $_comingdeal->getDealQty();
        $_product = Mage::getModel('catalog/product')->load($_comingdeal->getProductId());
    ?>
        <?php if ($i++%$_columnCount==0): ?>
        <ul class="products-grid">
        <?php endif ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                 <div class="pro_dld">
					<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
					<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
					<?php if($_product->getRatingSummary()): ?>
						<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
					<?php endif; ?>
					<?php // echo $this->getPriceHtml($_product, true) ?>
                    
                    <?php
                            $_coreHelper = $this->helper('core');
                            $_taxHelper = $this->helper('tax');
                            $_regularPrice = $_taxHelper->getPrice($_product, $_product->getPrice());
                            $_finalPrice = $_comingdeal->getDailydealPrice();
                            ?>
                            
                            <?php if($_comingdeal->checkDealPrice($_product)){ ?>
                                <p class="old-price" >
                                <?php echo Mage::helper('dailydeal')->__('Regular Price:'); ?>
                                <span class="regular-price" id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>-related">
                                    <span class="price"><?php echo $_coreHelper->currency($_regularPrice, true, false) ?></span>
                                </span>
                            </p>        
                            <p class="special-price">
                                <span class="price" id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                                    <?php echo Mage::helper('dailydeal')->__('Special Price:'); ?>
                                    <?php echo $_coreHelper->currency($_finalPrice, true, false) ?>
                                </span>
                            </p>
                            <?php }else{ 
                                $_comingdeal->setMinPriceFollowProductType($_product);?>
                            <p class="special-price">
                                <span class="price" id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                                    <?php echo Mage::helper('dailydeal')->__('Special Price:'); ?>
            <?php echo $_coreHelper->currency($_product->getData('min_price'), true, false) ?>
                                </span>
                            </p>
                                
                            <?php } ?>
                    
				 </div>
				 <div class="actions">
					<?php /*----- display daily deal -----*/ ?>
					 <?php $startdatetime= strtotime($_comingdeal->getStartDateTime()); ?>
					<div class="dld_coming_date">
						<?php echo Mage::helper('dailydeal')->__('Deal starts at <span class="deal-time">%s</span><span class="deal-time deal-date">%s</span>',date(' H:i',$startdatetime), date(' d F, Y',$startdatetime)); ?> 
					</div>
					<?php /*----- end display daily deal -----*/ ?>
				</div>
            </li>
        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
        </ul>
        <?php endif ?>
        <?php endforeach ?>
        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
    <?php endif; ?>

    <div class="toolbar-bottom">
        <?php echo $this->getToolbarHtml() ?>
    </div>
</div>
<?php endif; ?>
