<?php $full_action = Mage::app()->getFrontController()->getAction()->getFullActionName(); ?>
<ul class="tab-deal">
    <li <?php if($full_action == 'dailydeal_index_index') echo 'class="active"'; ?>>
        <a href="<?php echo Mage::helper('dailydeal')->getUrlHttp('dailydeal/index'); ?>">
            <span><span><?php echo $this->__('Current Deals'); ?></span></span>
        </a>
    </li>
    <li <?php if($full_action == 'dailydeal_past_index') echo 'class="active"'; ?>>
        <a href="<?php echo Mage::helper('dailydeal')->getUrlHttp('dailydeal/past'); ?>">
            <span><span><?php echo $this->__('Past Deals'); ?></span></span>
        </a>
    </li>
    <li <?php if($full_action == 'dailydeal_coming_index') echo 'class="active"'; ?>>
        <a href="<?php echo Mage::helper('dailydeal')->getUrlHttp('dailydeal/coming'); ?>">
            <span><span><?php echo $this->__('Upcoming Deals'); ?></span></span>
        </a>
    </li>
</ul>
<?php if (Mage::helper('dailydeal')->getConfigShowSubscription()):?>
<div class="daily-deal-subscription">
    <a class="subscription_popup_open" href="javascript:void(0);" title="<?php echo $this->__("Get notified of daily deals");?>" id="get_notified_daily_deal" >
        <strong><?php echo $this->__("Get notified of daily deals");?></strong>
    </a> 
</div>
<?php endif;?>
<div class="clear"></div>
<?php 
switch($full_action) {
    case 'dailydeal_index_index' :
        $code = 'current_deal';
        break;
    case 'dailydeal_past_index' :
        $code = 'past_deal';
        break;
    case 'dailydeal_coming_index' :
        $code = 'coming_deal';
        break;
}
echo $this->getChildHtml($code);
?>
<?php if (Mage::helper('dailydeal')->getConfigShowSubscription()):?>
<div id="subscription_popup">
    <div class="subscribe-result-message" id="subscribe-result-message"></div>
    <div id="subscribe-form-ajax" style="display:none;">&nbsp;</div>
    <form method="post" name="dailydeal-subscription-form" id="dailydeal-subscription-form">
        <div class="subscription-form">
        <h5 class="intro-msg"><?php echo Mage::helper('dailydeal/subscriber')->getIntroMessage();?></h5>
        <ul class="form-list">
            <li>
                <label for="name" class="required"><em>*</em><?php echo $this->__('Your Name:'); ?></label>
                <div class="input-box">
                    <input type="text" name="dailydeal_customer_name" class="required-entry input-text" id="dailydeal_customer_name"/>
                </div>
            </li>   
            <li>
                <label for="email" class="required"><em>*</em><?php echo $this->__('Your Email:'); ?></label>
                <div class="input-box">
                    <input type="text" name="dailydeal_email" class="required-entry input-text validate-email" id="dailydeal_email"/>
                </div>
            </li>
        </ul>
        <div class="actions">
            <button class="button right" id="dailydeal-subscribe-button" type="button"><span><span><?php echo $this->__('Submit');?></span></span></button>
            <button class="subscription_popup_close button right"><span><span><?php echo $this->__('Close');?></span></span></button>
        </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    Event.observe('dailydeal-subscribe-button', 'click', function(e) {
        var newsletter_url = '<?php echo $this->getUrl('dailydeal/index/subscribe', array('_secure' => true));?>';
        var subscription_form = new VarienForm('dailydeal-subscription-form', true);
        var validator = new Validation(this.form);
        if (validator.validate()) {
            submit_dailydeal_newsletter(newsletter_url);
        }
    });

    jQuery(document).ready(function() {      
        jQuery('#subscription_popup').popup({
            onclose: function() {
                jQuery('#subscribe-result-message').html('');
            }
        });
    });
</script>   
<?php endif;?>