<div id="orderattributes-checkoutonepage-attributes-container" class="no-display">
    <?php echo $this->getChildHtml('billing_address');?>
    <?php echo $this->getChildHtml('shipping_address');?>
    <?php echo $this->getChildHtml('shipping_method');?>
    <?php echo $this->getChildHtml('payment_method');?>
    <?php if ($this->isMageMoreThan1500()):?>
        <?php echo $this->getChildHtml('order_review');?>
    <?php endif;?>
</div>
<script type="text/javascript">
    (function(data){
        data.each(function(selectors){
            var containerEl = $$(selectors[0]).first();
            var insertBefore = $$(selectors[1]).first();
            if (!insertBefore || !containerEl) {
                return;
            }
            insertBefore.up().insertBefore(containerEl, insertBefore);
        });
    })([
            ["#orderattributes-checkoutonepage-attributes-container-billing-address", "#billing-buttons-container"],
            ["#orderattributes-checkoutonepage-attributes-container-shipping-address", "#shipping-buttons-container"],
            ["#orderattributes-checkoutonepage-attributes-container-shipping-method", "#shipping-method-buttons-container"],
            ["#orderattributes-checkoutonepage-attributes-container-payment-method", "#payment-buttons-container"],
            ["#orderattributes-checkoutonepage-attributes-container-order-review", "#checkout-review-submit"]
        ]);
</script>