<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td style="width:50%;"><h3 class="icon-head head-product-attribute-sets"><?php echo $this->_getHeader() ?></h3></td>
            <td class="form-buttons">
                <?php //echo $this->getNewButtonHtml() ?>
            </td>
        </tr>
    </table>
</div>
