<div id="orderattributes-checkoutonepage-attributes-container" class="no-display">
    <?php echo $this->getChildHtml('billing_address');?>
    <?php echo $this->getChildHtml('payment_method');?>
    <?php echo $this->getChildHtml('order_review');?>
</div>
<script type="text/javascript">
    (function(data){
        data.each(function(selectors){
            var containerEl = $$(selectors[0]).first();
            var insertAfter = $$(selectors[1]).first();
            if (!insertAfter || !containerEl) {
                return;
            }
            if (insertAfter.next()) {
                insertAfter.up().insertBefore(containerEl, insertAfter.next());
            } else {
                insertAfter.up().appendChild(containerEl);
            }
        });
    })([
            ["#orderattributes-checkoutmultishipping-attributes-container-billing-address", "#multishipping-billing-form address"],
            ["#orderattributes-checkoutmultishipping-attributes-container-payment-method", "#multishipping-billing-form .sp-methods"],
            ["#orderattributes-checkoutonepage-attributes-container-order-review", "#review-buttons-container >"]
        ]);
</script>