<?php 
$bannerCollection = $this->_getCollection();
foreach ($bannerCollection->getData() as $banner):
	echo Mage::app()->getLayout()->createBlock('core/template')->setTemplate('bannerslider/slider/'.$banner['effect'].'.phtml')->toHtml();	
	$height = $banner['height']; 
	$width = $banner['width']; 
	$content = $banner['content'];		
	$images = Mage::helper('bannerslider')->getSortedImages($content);
	if(isset($images) && !empty($images) && count($images)>0) : 
?>		
		<div class="border_box">
			<div class="box_<?php echo $banner['effect'] ?>" id="image-slider-<?php echo $banner['position'].'-'.$banner['bannerslider_id'];?>">
				<?php foreach($images as $image): ?>
					<div class="<?php echo $banner['effect'] ?>-item">
						<a <?php if(!empty($image['link'])): ?> href="<?php echo $image['link'];?>"<?php else:?> href="#" <?php endif;?> >
							<img src="<?php echo $this->helper('bannerslider')->resizeImg($image['file'],$width,$height);?>" <?php if(!empty($image['label'])): ?> alt="<?php echo $image['label'];?>"<?php endif?>/>
						</a>
						<?php if(!empty($image['html'])): ?>
							<div class="label_text">
								<p><?php echo $image['html']?></p>
							</div>
						<?php endif;?>
					</div>
				<?php endforeach;?>				
			</div>
		</div>
		<div style="clear:both;"></div>
	<?php endif; ?>
<?php endforeach; ?>