<?php $linkedAttributes = $this->getLinkedAttributes(); ?>
<?php if (isset($linkedAttributes['order-review']) && count($linkedAttributes['order-review'])) : ?>
    <div class="entry-edit" id="order-review-box" style="display:none;">
        <div class="entry-edit-head">
            <h4 class="icon-head head-order-review"><?php echo $this->__('Order Review') ?></h4>
        </div>
        <fieldset></fieldset>
    </div>
    <script type="text/javascript">
        (function() {
            var orderReviewBox = $('order-review-box');
            if (orderReviewBox) {
                $$('.head-products').first().up().up().insert({
                    before: orderReviewBox
                });
                orderReviewBox.show();
            }
        })();
    </script>
<?php endif; ?>

<?php foreach ($linkedAttributes as $fieldsetGroup => $attributesByFieldsetGroup) : ?>
    <table cellspacing="0" class="form-list" id="oa-<?php echo $fieldsetGroup; ?>" style="display:none;">
        <tbody>
            <?php foreach ($attributesByFieldsetGroup as $attribute) : ?>
                <?php echo $attribute->unpackData()->getTypeModel()->getBackendViewRenderer()->setValue($this->getValueByAttributeId($attribute->getId()))->getHtml(); ?>
            <?php endforeach; ?>
        </tbody>
    </table>
    <script type="text/javascript">
        (function(blockId) {
            var OaBlock = $('oa-' + blockId);
            var orderDetailsHead = $$('.head-' + blockId).first();
            if (orderDetailsHead) {
                var orderDetailsBlock = orderDetailsHead.up().next();
                if (OaBlock && orderDetailsBlock) {
                    orderDetailsBlock.appendChild(OaBlock);
                    OaBlock.show();
                }
            }
        })('<?php echo $fieldsetGroup; ?>');
    </script>
<?php endforeach; ?>



