<!--@subject {{var store.getFrontendName()}}: Fwd: Helpmate (ticket# {{var vars.id}}) - Notification | Subject {{var vars.ticket}}@-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>
                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Dear {{htmlescape var=$vars.name}}, </strong></p>
                            <p>Your Support Request "{{var vars.ticket}}" (ticket# {{var vars.id}}) has been successfully created and is now being routed to an appropriate department.</p>
                            <p>You also can see ticket status here <a href="{{store url="helpmate/index/view"}}ticket/{{var vars.number}}" style="color:#1E7EC8;">#{{var vars.id}}</a></p>
                            <p>{{store url="helpmate/index/view"}}ticket/{{var vars.number}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>Please note, this email is a one-way notification that your support request has been created. All communication with the support staff is handled directly online through Helpdesk interface.</p>
                            <p>Thank you again,<br/><strong>{{var store.getFrontendName()}}</strong></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
