<!--@subject {{var store.getFrontendName()}}: Ticket #{{var vars.id}} update by {{var vars.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
            <!-- [ header starts here] -->
              <table cellspacing="0" cellpadding="0" border="0" width="650">
                  <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
               </table>

            <!-- [ middle starts here] -->
              <table cellspacing="0" cellpadding="0" border="0" width="650">
                  <tr>
                    <td valign="top">
                        <p>Username {{var vars.name}} added/updated ticket #{{var vars.id}}</p>
                        <p>Support request: {{var vars.theard}}</p>
                        <p>Please answer or modify support request at <a href="{{var vars.url}}" style="color:#1E7EC8;">{{var vars.ticket}}</a> </p>
                        <p>{{var vars.url}}</p>
                    </td>
                   </tr>
               </table>

            </td>
        </tr>
    </table>
</div>
